<template>
  <v-row>
    <v-col
      cols="7"
      class="py-1 caption font-weight-medium"
      >
      CONCEPTO
    </v-col>

    <v-col
      cols="2"
      class="py-1 caption font-weight-medium text-center"
      >
    </v-col>

    <v-col
      cols="3"
      class="py-1 caption font-weight-medium text-right"
      >
      BALANCE
    </v-col>
  </v-row>
</template>
