<template>
  <div>
    <v-card color="background" flat>
      <v-card-subtitle class="px-0 pb-0 caption">
        {{ $t("property.create.title") }}
      </v-card-subtitle>

      <v-card-title class="px-0 pt-0">
        Características
      </v-card-title>

      <v-card-subtitle class="px-0 pb-1 caption">
        {{ $t("required_fields_caption") }}
      </v-card-subtitle>
    </v-card>
    <v-card>
      <v-card-text>
        <div class="pb-6">
          <v-form lazy-validation v-model="valid" ref="description">
            <v-row>
              <v-col
                v-for="(field, idx) in requiredCharacteristics"
                :key="field.name + idx"
                cols="6"
              >
                <v-row class="align-center">
                  <v-col cols="5" class="py-0 text-right">
                    {{ field.name }}*
                  </v-col>
                  <v-col cols="7" class="py-0">
                    <v-text-field
                      filled
                      dense
                      hide-details="auto"
                      :suffix="suffixes[field.name] || ''"
                      type="number"
                      :rules="[v => !!v || $t('required_fields_hint')]"
                      v-model="field.value"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <div class="text-subtitle-1 black--text">
              {{
                $t(
                  "property.create.description.fields.additional_features.title"
                )
              }}
            </div>
            <v-row>
              <v-col
                v-for="field in optionalCharacteristics"
                :key="field.name"
                cols="6"
              >
                <v-row class="align-center">
                  <v-col cols="5" class="py-0 text-right">
                    {{ field.name }}
                  </v-col>
                  <v-col cols="7" class="py-0">
                    <v-text-field
                      filled
                      dense
                      hide-details="auto"
                      :suffix="suffixes[field.name] || ''"
                      v-model="field.value"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-form>
        </div>
        <div class="pb-6">
          <div class="text-subtitle-1 black--text">
            Plano de la propiedad
          </div>
          <v-row>
            <v-col cols="6" class="py-0">
              <v-file-input
                accept="image/*"
                :label="$t('property.create.pictures.fields.file')"
                v-model="property.blueprint"
              ></v-file-input>
            </v-col>
          </v-row>
        </div>
        <div
          class="pb-6"
          :key="i"
          v-for="(feature, i) in property.features.additional_features"
        >
          <div class="text-subtitle-1 black--text">
            {{ feature.name }}
          </div>
          <v-row>
            <v-col
              cols="6"
              class="py-0"
              :key="j"
              v-for="(label, j) in features[feature.name]"
            >
              <v-checkbox
                v-model="feature.values"
                :label="label"
                :value="label"
                hide-details
              ></v-checkbox>
            </v-col>
          </v-row>
        </div>
      </v-card-text>
    </v-card>
    <div class="pt-6 text-right">
      <v-btn @click="$router.go(-1)" text>
        {{ $t("action.close_and_continue_later") }}
      </v-btn>
      <v-btn color="primary" @click="nextStep">
        {{ $t("action.next") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import { EditProperty } from "@/graphql/mutations/properties";

export default {
  data() {
    return {
      valid: true,
      features: {
        Servicios: [
          this.$t(
            "property.create.description.fields.services.drinking_water_network"
          ),
          this.$t("property.create.description.fields.services.water_drilling"),
          this.$t("property.create.description.fields.services.gas_network"),
          this.$t("property.create.description.fields.services.sewer"),
          this.$t(
            "property.create.description.fields.services.electric_netowrk"
          ),
          this.$t("property.create.description.fields.services.street_lighting")
        ],
        Acceso: [
          this.$t("property.create.description.fields.access.dirt"),
          this.$t("property.create.description.fields.access.enhanced_dirt"),
          this.$t("property.create.description.fields.access.gravel"),
          this.$t("property.create.description.fields.access.pavement")
        ],
        "Comodidades y amenities": [
          this.$t(
            "property.create.description.fields.comforts_and_amenities.internet"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.air_conditioning"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.childrens_play_area"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.elevator"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.business_center"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.heating"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.tennis_court"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.fireplace"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.tank"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.visitor_parking"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.gym"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.jacuzzi"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.laundry"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.pets"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.pool"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.reception"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.party_room"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.multiple_uses_room"
          ),
          this.$t(
            "property.create.description.fields.comforts_and_amenities.security"
          )
        ],
        "Características adicionales": [
          this.$t(
            "property.create.description.fields.additional_characteristics.water"
          ),
          this.$t(
            "property.create.description.fields.additional_characteristics.furnished"
          ),
          this.$t(
            "property.create.description.fields.additional_characteristics.boiler"
          ),
          this.$t(
            "property.create.description.fields.additional_characteristics.gas"
          ),
          this.$t(
            "property.create.description.fields.additional_characteristics.forested"
          ),
          this.$t(
            "property.create.description.fields.additional_characteristics.sprinkler_irrigation"
          ),
          this.$t(
            "property.create.description.fields.additional_characteristics.masonry_perimeter_enclosure"
          ),
          this.$t(
            "property.create.description.fields.additional_characteristics.green_perimeter_enclosure"
          )
        ],
        Ambientes: [
          this.$t("property.create.description.fields.environments.balcony"),
          this.$t("property.create.description.fields.environments.grill"),
          this.$t("property.create.description.fields.environments.kitchen"),
          this.$t("property.create.description.fields.environments.courtyard"),
          this.$t(
            "property.create.description.fields.environments.dinning_room"
          ),
          this.$t("property.create.description.fields.environments.placards"),
          this.$t(
            "property.create.description.fields.environments.service_unit"
          ),
          this.$t(
            "property.create.description.fields.environments.breakfast_nook"
          ),
          this.$t(
            "property.create.description.fields.environments.roof_garden"
          ),
          this.$t(
            "property.create.description.fields.environments.suite_bedroom"
          ),
          this.$t("property.create.description.fields.environments.terrace"),
          this.$t("property.create.description.fields.environments.studio"),
          this.$t("property.create.description.fields.environments.toilette"),
          this.$t("property.create.description.fields.environments.garden"),
          this.$t(
            "property.create.description.fields.environments.dressing_room"
          ),
          this.$t(
            "property.create.description.fields.environments.laundry_room"
          ),
          this.$t("property.create.description.fields.environments.living_room")
        ]
      },
      suffixes: {
        [this.$t(
          "property.create.description.fields.additional_features.antiquity"
        )]: this.$t(
          "property.create.description.fields.additional_features.antiquity_suffix"
        ),
        [this.$t(
          "property.create.description.fields.features.covered_surface"
        )]: this.$t(
          "property.create.description.fields.features.covered_surface_suffix"
        ),
        [this.$t(
          "property.create.description.fields.features.mid_covered_surface"
        )]: this.$t(
          "property.create.description.fields.features.total_surface_suffix"
        ),
        [this.$t(
          "property.create.description.fields.features.total_surface"
        )]: this.$t(
          "property.create.description.fields.features.total_surface_suffix"
        )
      },
      property: {
        blueprint: null,
        description: null,
        characteristicsAttributes: [
          {
            name: this.$t(
              "property.create.description.fields.features.covered_surface"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.features.total_surface"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.features.mid_covered_surface"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.environments.title"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.features.bedrooms"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.features.bathrooms"
            ),
            value: "0"
          },
          {
            name: this.$t("property.create.description.fields.features.garage"),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.additional_features.floor_number"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.additional_features.apartments_by_floor"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.additional_features.floors_quantity"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.additional_features.antiquity"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.features.terrain_width"
            ),
            value: "0"
          },
          {
            name: this.$t(
              "property.create.description.fields.features.terrain_depth"
            ),
            value: "0"
          },
          {
            name: this.$t("property.create.description.fields.features.facing"),
            value: ""
          },
          {
            name: this.$t(
              "property.create.description.fields.features.location"
            ),
            value: ""
          }
        ],
        features: {
          operation_type: {
            rent: false,
            sell: false
          },
          additional_features: [
            {
              name: this.$t(
                "property.create.description.fields.services.title"
              ),
              values: []
            },
            {
              name: this.$t("property.create.description.fields.access.title"),
              values: []
            },
            {
              name: this.$t(
                "property.create.description.fields.comforts_and_amenities.title"
              ),
              values: []
            },
            {
              name: this.$t(
                "property.create.description.fields.additional_characteristics.title"
              ),
              values: []
            },
            {
              name: this.$t(
                "property.create.description.fields.environments.title"
              ),
              values: []
            }
          ]
        }
      }
    };
  },

  computed: {
    requiredCharacteristics() {
      var filtered = this.property.characteristicsAttributes.filter(v =>
        [
          this.$t("property.create.description.fields.features.total_surface"),
          this.$t(
            "property.create.description.fields.features.covered_surface"
          ),
          this.$t("property.create.description.fields.environments.title"),
          this.$t("property.create.description.fields.features.bedrooms"),
          this.$t("property.create.description.fields.features.bathrooms"),
          this.$t("property.create.description.fields.features.garage")
        ].includes(v.name)
      );
      return filtered;
    },

    optionalCharacteristics() {
      var filtered = this.property.characteristicsAttributes.filter(
        v =>
          ![
            this.$t(
              "property.create.description.fields.features.total_surface"
            ),
            this.$t(
              "property.create.description.fields.features.covered_surface"
            ),
            this.$t("property.create.description.fields.environments.title"),
            this.$t("property.create.description.fields.features.bedrooms"),
            this.$t("property.create.description.fields.features.bathrooms"),
            this.$t("property.create.description.fields.features.garage")
          ].includes(v.name)
      );
      return filtered;
    }
  },

  props: {
    fetchedProperty: {
      type: Object,
      required: true
    }
  },

  created() {
    // Object.assign(this.property.features, this.fetchedProperty.features)

    Object.keys(this.property.features).forEach(key => {
      if (this.fetchedProperty.features[key]) {
        if (Array.isArray(this.property.features[key])) {
          this.property.features[key].forEach((feature, i) => {
            const fetched_feature = this.fetchedProperty.features[key].find(
              ff => ff.name == feature.name
            );

            if (fetched_feature) {
              this.property.features[key][i] = fetched_feature;
            }
          });
        } else {
          Object.assign(
            this.property.features[key],
            this.fetchedProperty.features[key]
          );
        }
      }
    });

    this.property.description = this.fetchedProperty.description;

    if (this.fetchedProperty.characteristics.length) {
      this.property.characteristicsAttributes.forEach((char, i) => {
        const fetched_char = this.fetchedProperty.characteristics.find(
          c => c.name == char.name
        );

        if (fetched_char) {
          this.property.characteristicsAttributes[i] = fetched_char;
        }
      });

      // this.property.characteristicsAttributes = this.fetchedProperty.characteristics
      this.property.characteristicsAttributes.forEach(char => {
        delete char.__typename;
      });
    }
  },

  watch: {
    valid(newVal) {
      if (!newVal) {
        this.$vuetify.goTo(0);
      }
    }
  },

  methods: {
    nextStep() {
      this.editProperty();
    },

    editProperty() {
      if (this.valid) this.$refs.description.validate();

      if (this.valid) {
        this.$apollo
          .mutate({
            mutation: EditProperty,
            variables: {
              input: {
                attributes: this.property,
                propertyId: this.fetchedProperty.id
              }
            }
          })
          .then(res => {
            this.$emit("continue", res.data.editProperty.property);
          });
      }
    }
  }
};
</script>
