<template>
  <div>
    <v-card color="background" flat>
      <v-card-subtitle class="px-0 pb-0 caption">
        {{ $t("property.create.title") }}
      </v-card-subtitle>

      <v-card-title class="px-0 pt-0">
        {{ $t("property.create.description.instructions") }}
      </v-card-title>

      <v-card-subtitle class="px-0 pb-1 caption">
        {{ $t("required_fields_caption") }}
      </v-card-subtitle>
    </v-card>
    <v-card>
      <v-card-text>
        <div class="pb-6">
          <v-form lazy-validation v-model="valid" ref="description">
            <div class="text-subtitle-1 black--text">
              Descripción
            </div>

            <wysiwyg class="my-3" v-model="property.description" />

            <div v-if="false">
              <v-alert
                color="primary"
                outlined
                dense
                class="text-uppercase font-weight-bold text-center rounded-lg"
              >
                <v-icon color="primary">mdi-chevron-down</v-icon> ¡Ahora podés
                generar una descripción con inteligencia artificial!
                <v-icon color="primary">mdi-chevron-down</v-icon>
              </v-alert>

              <div class="my-5 d-flex flex-row align-end" style="gap: 12px">
                <v-textarea
                  label="Breve descripción de las características de la propiedad"
                  placeholder="Por ejemplo: departamento en alquiler en Avellaneda, Santa Fe, con dos dormitorios, dos baños, cochera y amplio frente."
                  v-model="description"
                  class="rounded-lg"
                  outlined
                  hide-details
                ></v-textarea>

                <v-btn
                  color="primary"
                  depressed
                  class="rounded-lg"
                  @click="fetchRecommendedDescription"
                  :disabled="loading"
                  :loading="loading"
                >
                  Generar descripción
                </v-btn>
              </div>

              <div v-if="recommendedDescription" class="mb-3">
                <div class="text-overline primary--text text-center">
                  Nuestra recomendación
                </div>

                <v-card outlined class="rounded-lg">
                  <v-card-text
                    class="black--text"
                    v-html="recommendedDescription"
                  >
                  </v-card-text>
                </v-card>
              </div>

              <v-alert
                outlined
                type="info"
                border="left"
                class="font-weight-medium rounded-lg"
                dense
              >
                Si quieres que generemos una descripción automáticamente con la
                información que disponemos del inmueble, deja el campo de arriba
                sin completar y haz click en "Generar descripción".
              </v-alert>
            </div>
          </v-form>
        </div>
      </v-card-text>
    </v-card>

    <div class="pt-6 text-right">
      <v-btn @click="$router.go(-1)" text>
        {{ $t("action.close_and_continue_later") }}
      </v-btn>
      <v-btn color="primary" @click="nextStep">
        {{ $t("action.next") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import {
  EditProperty,
  RecommendedDescription
} from "@/graphql/mutations/properties";

export default {
  data() {
    return {
      valid: true,
      description: null,
      recommendedDescription: null,
      loading: false,
      property: {
        description: null
      }
    };
  },

  props: {
    fetchedProperty: {
      type: Object,
      required: true
    }
  },

  created() {
    this.property.description = this.fetchedProperty.description;
  },

  watch: {
    valid(newVal) {
      if (!newVal) {
        this.$vuetify.goTo(0);
      }
    }
  },

  methods: {
    nextStep() {
      this.editProperty();
    },

    editProperty() {
      if (this.valid) this.$refs.description.validate();

      if (this.valid) {
        this.$apollo
          .mutate({
            mutation: EditProperty,
            variables: {
              input: {
                attributes: this.property,
                propertyId: this.fetchedProperty.id
              }
            }
          })
          .then(res => {
            this.$emit("continue", res.data.editProperty.property);
          });
      }
    },

    fetchRecommendedDescription() {
      this.loading = true;
      this.$apollo
        .mutate({
          mutation: RecommendedDescription,
          variables: {
            input: {
              id: this.fetchedProperty.id,
              description: this.description
            }
          }
        })
        .then(res => {
          this.recommendedDescription =
            res.data.recommendedDescription.description;
          this.loading = false;
        });
    }
  }
};
</script>
