<template>
  <div :key="counter">
    <v-card color="background" flat>
      <v-card-subtitle class="px-0 pb-0 caption">
        {{ $t("property.create.title") }}
      </v-card-subtitle>

      <v-card-title class="px-0 pt-0 pb-5">
        {{ $t("property.create.pictures.instructions") }}
      </v-card-title>
    </v-card>

    <v-card :key="images.length">
      <v-card-text>
        <div class="d-flex flex-row justify-space-between align-center">
          <v-file-input
            accept="image/*"
            :label="$t('property.create.pictures.fields.file')"
            @change="preview"
            multiple
            :value="selectedFiles"
          ></v-file-input>
        </div>

        <div class="caption">
          Puede arrastar las imágenes para ordernarlas.
        </div>

        <draggable
          v-model="images"
          :key="images.length"
          group="images"
          @start="drag = true"
          @end="drag = false"
          @change="onMove"
        >
          <v-card
            style="cursor: pointer"
            class="mt-3 rounded-lg"
            v-if="images.length"
            v-for="(image, idx) in images"
            :key="image.id"
          >
            <v-card-text class="pa-2">
              <div class="d-flex flex-row justify-space-between">
                <div style="width: 75px">
                  <v-img
                    class="rounded-lg"
                    rounded
                    max-height="75"
                    max-width="75"
                    aspect-ratio="1"
                    :src="remoteUrl(image)"
                  >
                  </v-img>
                </div>
                <div class="px-3 pt-2 pb-0 d-flex flex-column grow">
                  <div class="black--text">
                    {{
                      image.name ||
                        $t(
                          "property.create.pictures.image_process.image_already_uploaded"
                        )
                    }}
                  </div>
                  <div class="caption">
                    {{ (image.size / (1024 * 1024)).toFixed(2) }} MB
                  </div>
                  <div>
                    <v-progress-linear
                      :value="progress || 100"
                      color="primary"
                    ></v-progress-linear>
                  </div>
                  <div
                    v-if="progress != 100 && selectedFiles.length"
                    class="caption text-right"
                  >
                    {{ progress || 100 }}%
                  </div>
                  <div v-else class="caption text-right">
                    {{ $t("property.create.pictures.image_process.completed") }}
                  </div>
                </div>
                <div class="shrink text-right justify-end">
                  <v-btn @click="removeImage(idx)" icon>
                    <v-icon small>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </div>
              </div>
            </v-card-text>
          </v-card>
        </draggable>

        <div v-if="uploaded" class="px-2 pt-1 mb-n2 caption text-right">
          {{ (uploaded.loaded / (1024 * 1024)).toFixed(2) }} MB /
          {{ (uploaded.total / (1024 * 1024)).toFixed(2) }} MB
        </div>
      </v-card-text>
    </v-card>
    <div class="pt-6 text-right">
      <v-btn
        @click="$router.go(-1)"
        :disabled="loading"
        :loading="loading"
        text
      >
        {{ $t("action.close_and_continue_later") }}
      </v-btn>
      <v-btn
        color="primary"
        :disabled="loading"
        :loading="loading"
        @click="nextStep"
      >
        {{ $t("action.next") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import { DeleteImage } from "@/graphql/mutations/images";
import { EditProperty } from "@/graphql/mutations/properties";
import { Property } from "@/graphql/queries/property";
import UploadService from "@/services/uploadFiles";
import draggable from "vuedraggable";

function comparer(otherArray) {
  return function(current) {
    return (
      otherArray.filter(function(other) {
        return other.name == current.name;
      }).length == 0
    );
  };
}

export default {
  data() {
    return {
      property: {},
      selectedFiles: [],
      sortingImages: [],
      message: "",
      progress: 0,
      counter: 0,
      uploaded: null,
      loaded: false,
      loading: false,
      images: []
    };
  },

  props: {
    fetchedProperty: {
      type: Object,
      required: true
    }
  },

  watch: {
    images(val) {}
  },

  mounted() {
    this.fetchProperty();
  },

  methods: {
    fetchProperty() {
      this.$apollo
        .query({
          query: Property,
          variables: {
            id: this.fetchedProperty.id
          },
          fetchPolicy: "no-cache"
        })
        .then(res => {
          this.images = res.data.property.images;
          this.counter += 1;
        });
    },

    nextStep() {
      this.$emit("continue", this.fetchedProperty);
    },

    remoteUrl(image) {
      if (image.url) {
        return process.env.VUE_APP_RAILS_URL + image.url;
      }
    },

    removeImage(idx) {
      let id = this.images[idx].id;

      if (id) {
        this.$apollo
          .mutate({
            mutation: DeleteImage,
            variables: {
              input: {
                imageId: id
              }
            }
          })
          .then(res => {
            this.fetchProperty();
          });
      }

      if (!id) {
        this.images.splice(idx, 1);
        this.selectedFiles.splice(idx, 1);
      }

      this.selectedFiles = [];
    },

    preview(files) {
      var onlyNewFiles = files.filter(comparer(this.selectedFiles));

      if (onlyNewFiles.length) {
        this.images = [];
        this.loaded = false;

        var difference = this.selectedFiles.concat(onlyNewFiles);

        this.selectedFiles = difference;

        this.upload();
      }
    },

    edit() {
      this.loading = true;

      this.$apollo
        .mutate({
          mutation: EditProperty,
          variables: {
            input: {
              propertyId: this.fetchedProperty.id,
              attributes: {
                imagesAttributes: this.images
              }
            }
          }
        })
        .then(res => {
          this.fetchProperty();
          this.loading = false;
        });
    },

    upload() {
      var images = [];

      this.selectedFiles.forEach((file, i) => {
        images.push({
          name: file.name,
          size: file.size,
          image: file,
          lft: i + this.fetchedProperty.images.length
        });
      });

      this.loading = true;

      this.$apollo
        .mutate({
          mutation: EditProperty,
          variables: {
            input: {
              propertyId: this.fetchedProperty.id,
              attributes: {
                imagesAttributes: images
              }
            }
          }
        })
        .then(res => {
          this.fetchProperty();
          this.selectedFiles = [];
          this.loading = false;
        });
    },

    onMove() {
      this.images.forEach((image, i) => {
        delete image.__typename;
        delete image.url;
        delete image.thumbUrl;
        delete image.smallUrl;

        image.lft = i;
      });

      this.edit();
    }
  },

  components: { draggable }
};
</script>
