<template>
  <div>
    <v-card flat color="transparent">
      <v-card-title class="align-center px-0 pt-0" style="gap: 12px">
        <div>
          <v-card-subtitle class="px-0 pb-0 caption">
            {{ $t("property.create.title") }}
          </v-card-subtitle>

          {{ $t("property.create.price.instructions") }}
        </div>
      </v-card-title>
    </v-card>
    <v-card rounded="lg">
      <v-card-text>
        <v-form lazy-validate v-model="valid" ref="form">
          <template v-for="operationType in fetchedProperty.operationTypes">
            <div class="text-subtitle-1 black--text">
              {{
                operationType == "sell"
                  ? "Precio de venta"
                  : "Precio de alquiler"
              }}
            </div>
            <v-row>
              <v-col class="pt-0 pr-0" md="2" cols="4">
                <v-autocomplete
                  filled
                  :items="['ARS', 'USD']"
                  hide-details
                  label="Moneda"
                  placeholder="ARS"
                  v-model="
                    property[
                      operationType == 'sell' ? 'sellCurrency' : 'currency'
                    ]
                  "
                ></v-autocomplete>
              </v-col>
              <v-col class="pt-0" md="4" cols="6">
                <v-text-field
                  filled
                  hide-details
                  :label="$t('property.create.price.fields.amount')"
                  placeholder="15000"
                  v-model="
                    property[operationType == 'sell' ? 'sellPrice' : 'price']
                  "
                  type="number"
                >
                </v-text-field>
              </v-col>

              <v-col class="pt-0" md="4" cols="2">
                <v-checkbox
                  filled
                  label="Ocultar precio al público"
                  placeholder="15000"
                  hide-details
                  v-model="
                    property.metadata[
                      operationType == 'sell'
                        ? 'hide_sell_price'
                        : 'hide_rent_price'
                    ]
                  "
                >
                </v-checkbox>
              </v-col>
            </v-row>
          </template>

          <v-divider class="my-3"></v-divider>

          <div class="text-subtitle-1 black--text">
            Expensas
          </div>

          <v-row>
            <v-col class="pt-0" md="6" cols="12">
              <v-text-field
                filled
                hide-details
                label="Gastos comunes"
                placeholder="15000"
                v-model="property.commonExpenses"
                prefix="ARS"
                type="number"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
    <div class="pt-6 text-right">
      <v-btn @click="$router.go(-1)" text>
        {{ $t("action.close_and_continue_later") }}
      </v-btn>
      <v-btn color="primary" @click="nextStep">
        {{
          fetchedProperty.state == "draft"
            ? $t("action.publish")
            : $t("action.save")
        }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import { EditProperty } from "@/graphql/mutations/properties";

export default {
  data() {
    return {
      valid: true,
      property: {
        metadata: {
          hide_sell_price: false,
          hide_rent_price: false
        },
        price: 0,
        commonExpenses: 0,
        currency: "ARS",
        sellPrice: 0,
        sellCurrency: "ARS",
        state: "published"
      }
    };
  },

  props: {
    fetchedProperty: {
      type: Object,
      required: true
    }
  },

  mounted() {
    if (this.fetchedProperty.price) {
      let price = this.fetchedProperty.price.replace(/\D*/, "");
      this.property.price = parseInt(price.replace(".", ""));
      this.property.currency = this.fetchedProperty.currency || "ARS";
    }

    if (this.fetchedProperty.commonExpenses) {
      price = this.fetchedProperty.commonExpenses.replace(/\D*/, "");

      this.property.commonExpenses = parseInt(price.replace(".", ""));
    }

    if (this.fetchedProperty.metadata) {
      this.property.metadata = this.fetchedProperty.metadata;
    }

    if (this.fetchedProperty.sellPrice) {
      let price = this.fetchedProperty.sellPrice.replace(/\D*/, "");
      this.property.sellPrice = parseInt(price.replace(".", ""));
      this.property.sellCurrency = this.fetchedProperty.sellCurrency || "ARS";
    }
  },

  methods: {
    nextStep() {
      this.editProperty();
    },

    editProperty() {
      if (this.valid) this.$refs.form.validate();

      if (this.valid) {
        this.$apollo
          .mutate({
            mutation: EditProperty,
            variables: {
              input: {
                attributes: this.property,
                propertyId: this.fetchedProperty.id
              }
            }
          })
          .then(res => {
            this.$emit("continue", res.data.editProperty.property);
          });
      }
    }
  }
};
</script>
