<template>
  <div>
    <v-snackbar v-model="alert.active" color="error">
      {{ alert.message }}
    </v-snackbar>

    <v-card color="background" flat>
      <v-card-subtitle class="px-0 pb-0 caption">
        {{ $t("property.create.title") }}
      </v-card-subtitle>

      <v-card-title class="px-0 pt-0 pb-5">
        {{ $t("property.create.type.instructions") }}
      </v-card-title>
    </v-card>
    <v-card>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <div class="text-subtitle-1">
            {{ $t("property.create.type.fields.operation_type") }}
          </div>
          <v-btn-toggle v-model="property.post_type" mandatory multiple>
            <v-btn
              value="rent"
              color="white"
              active-class="blue lighten-1 white--text"
              block
            >
              {{ $t("property.create.type.fields.rent") }}
            </v-btn>
            <v-btn
              value="sell"
              color="white"
              block
              active-class="blue lighten-1 white--text"
            >
              {{ $t("property.create.type.fields.sell") }}
            </v-btn>
          </v-btn-toggle>

          <v-row>
            <v-col cols="6">
              <v-autocomplete
                :rules="rules"
                :items="property_types"
                v-model="property.property_type"
                filled
                :hint="$t('required_fields_hint')"
                persistent-hint
                :label="$t('property.create.type.fields.property_type')"
              >
              </v-autocomplete>
            </v-col>
          </v-row>

          <v-row class="align-center">
            <v-col class="pt-0" cols="6">
              <v-autocomplete
                :rules="rules"
                :items="owners"
                item-text="profile.name"
                item-value="id"
                v-model="property.owner_ids"
                filled
                multiple
                :hint="$t('required_fields_hint')"
                persistent-hint
                :label="
                  $t(
                    'roles.' +
                      (property.post_type.includes('sell') ? 'sell' : 'rent') +
                      '.owners'
                  )
                "
              >
              </v-autocomplete>
            </v-col>
            <v-col class="pt-0 mb-6" cols="6">
              <Modal
                ref="modal"
                text="Agregar a agenda"
                color="blue lighten-1"
                :button_text="true"
              >
                <NewContact
                  @close="$refs.modal.dialog = false"
                  @created="onCreate"
                />
              </Modal>
            </v-col>
          </v-row>

          <v-row :key="owners.length">
            <v-col class="py-0" cols="12">
              <vuetify-google-autocomplete
                filled
                id="map"
                :label="$t('property.create.type.fields.address')"
                v-model="address"
                persistent-hint
                no-filter
                @placechanged="setPlace"
              >
              </vuetify-google-autocomplete>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              class="pt-0 pb-6 d-flex flex-row justify-space-between align-center"
              cols="12"
            >
              <v-divider></v-divider>
              <div class="caption mx-2">
                O cargar manualmente
              </div>
              <v-divider></v-divider>
            </v-col>
          </v-row>

          <v-row>
            <template
              v-if="manualAddress"
              v-for="field in [
                'street',
                'number',
                'city',
                'state',
                'country',
                'lat',
                'lng'
              ]"
            >
              <v-col class="pt-0" cols="6">
                <v-text-field
                  v-if="['lat', 'lng'].includes(field)"
                  filled
                  :label="$t('property.create.type.fields.' + field)"
                  persistent-hint
                  v-model.number="property.address_attributes[field]"
                >
                </v-text-field>

                <v-text-field
                  v-else
                  filled
                  :rules="rules"
                  :label="$t('property.create.type.fields.' + field)"
                  persistent-hint
                  v-model="property.address_attributes[field]"
                >
                </v-text-field>
              </v-col>
            </template>

            <v-col class="pt-0" cols="6">
              <v-text-field
                filled
                :label="$t('property.create.type.fields.apartment_unit')"
                :hint="$t('property.create.type.fields.apartment_unit_hint')"
                persistent-hint
                v-model="property.address_attributes.unit"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col class="pt-0 rounded" cols="12">
              <GmapMap
                :center="{ lat: latitude, lng: longitude }"
                :zoom="16"
                :options="{
                  zoomControl: true,
                  mapTypeControl: false,
                  scaleControl: false,
                  streetViewControl: false,
                  rotateControl: false,
                  fullscreenControl: true,
                  disableDefaultUi: true
                }"
                style="width: 100%; height: 200px"
              >
                <GmapMarker
                  v-if="marker.lat && marker.lng"
                  :position="marker"
                  @click="center = marker"
                />
              </GmapMap>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
    <div class="pt-6 text-right">
      <v-btn @click="$router.push({ name: 'Properties' })" text>
        {{ fetchedProperty.id ? "Cerrar" : "Cancelar" }}
      </v-btn>
      <v-btn color="primary" @click="nextStep">
        {{ $t("action.next") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import Modal from "@/components/modals/Default";
import NewContact from "@/components/directories/New";
import { Contacts } from "@/graphql/queries/directory";
import { CreateProperty, EditProperty } from "@/graphql/mutations/properties";

export default {
  data() {
    return {
      alert: {
        active: false,
        message: null
      },
      manualAddress: true,
      valid: true,
      address: null,
      property: {
        id: null,
        price: 0,
        post_type: ["rent"],
        property_type: null,
        owner_ids: null,
        address_attributes: {
          id: null,
          street: null,
          number: null,
          unit: null,
          city: null,
          state: null,
          lat: null,
          lng: null,
          country: "Argentina"
        }
      },
      marker: {
        lat: null,
        lng: null
      },
      latitude: -38.4161,
      longitude: -63.6167,
      rules: [v => !!v || this.$t("required_fields_hint")],
      property_types: [
        {
          text: this.$t(
            "property.create.type.fields.property_types.country_house"
          ),
          value: "country_house"
        },
        {
          text: this.$t("property.create.type.fields.property_types.apartment"),
          value: "apartment"
        },
        {
          text: this.$t("property.create.type.fields.property_types.salon"),
          value: "salon"
        },
        {
          text: this.$t("property.create.type.fields.property_types.warehouse"),
          value: "warehouse"
        },
        {
          text: this.$t("property.create.type.fields.property_types.parking"),
          value: "parking"
        },
        {
          text: this.$t("property.create.type.fields.property_types.shed"),
          value: "shed"
        },
        {
          text: this.$t("property.create.type.fields.property_types.house"),
          value: "house"
        },
        {
          text: this.$t("property.create.type.fields.property_types.farm"),
          value: "farm"
        },
        {
          text: this.$t("property.create.type.fields.property_types.terrain"),
          value: "terrain"
        }
      ],
      owners: []
    };
  },

  props: {
    fetchedProperty: {
      type: Object,
      required: false,
      default: () => {
        return {
          id: null
        };
      }
    }
  },

  components: {
    Modal,
    NewContact
  },

  created() {
    this.fetchOwners(true);
  },

  watch: {
    "property.address_attributes.lat": {
      handler(val) {
        this.latitude = val;

        this.marker.lat = val;
      }
    },

    "property.address_attributes.lng": {
      handler(val) {
        this.longitude = val;
        this.marker.lng = val;
      }
    }
  },

  methods: {
    onCreate(newOwner) {
      this.fetchOwners(false);
      if (!this.property.owner_ids.length) this.property.owner_ids = [];

      this.property.owner_ids.push(newOwner.id);
      this.$refs.modal.dialog = false;
    },

    nextStep() {
      if (this.valid) this.valid = this.$refs.form.validate();

      if (this.valid) {
        if (this.property.id) {
          this.editProperty();
        } else {
          this.createProperty();
        }
      }
    },

    createProperty() {
      this.$apollo
        .mutate({
          mutation: CreateProperty,
          variables: {
            input: {
              attributes: {
                price: 0,
                propertyType: this.property.property_type,
                state: this.property.state || "draft",
                features: {
                  operation_type: {
                    sell: this.property.post_type.includes("sell"),
                    rent: this.property.post_type.includes("rent")
                  }
                },
                addressAttributes: this.property.address_attributes
              },
              ownerIds: this.property.owner_ids
            }
          }
        })
        .then(res => {
          var property = res.data.createProperty.property;
          this.property.id = property.id;
          this.$emit("continue", property);
        })
        .catch(error => {
          this.alert.active = true;
          this.alert.message = this.$t(
            `error.${error.graphQLErrors[0].extensions.field}.${error.graphQLErrors[0].extensions.message}`
          );
        });
    },

    editProperty() {
      this.$apollo
        .mutate({
          mutation: EditProperty,
          variables: {
            input: {
              attributes: {
                propertyType: this.property.property_type,
                state: this.property.state || "draft",
                features: Object.assign(this.fetchedProperty.features, {
                  operation_type: {
                    sell: this.property.post_type.includes("sell"),
                    rent: this.property.post_type.includes("rent")
                  }
                }),
                addressAttributes: this.property.address_attributes
              },
              ownerIds: this.property.owner_ids,
              propertyId: this.property.id
            }
          }
        })
        .then(res => {
          var property = res.data.editProperty.property;
          this.property.id = property.id;
          this.$emit("continue", property);
        });
    },

    fetchOwners(firstLoad = false) {
      this.$apollo
        .query({
          query: Contacts,
          variables: {
            noPaginate: true
          },
          fetchPolicy: "no-cache"
        })
        .then(res => {
          this.owners = res.data.contacts.contacts;

          if (this.$route.query.ownerId) {
            this.property.owner_ids = [this.$route.query.ownerId];
          }

          if (firstLoad) {
            this.fillData();
          }
        });
    },

    fillData() {
      this.property.id = this.fetchedProperty.id;
      this.property.price = this.fetchedProperty.price || 0;
      this.property.state = this.fetchedProperty.state;
      this.property.property_type =
        this.fetchedProperty.propertyType || this.property.property_type;

      if (this.fetchedProperty.owner)
        this.property.owner_ids =
          (this.fetchedProperty.owner || [{}]).map(owner => owner.id) ||
          this.property.owner_ids;

      this.property.address_attributes =
        this.fetchedProperty.address || this.property.address_attributes;

      delete this.property.address_attributes.__typename;

      if (this.fetchedProperty.features) {
        var features = this.fetchedProperty.features;
        var post_type = [];
        if (features.operation_type.rent) post_type.push("rent");
        if (features.operation_type.sell) post_type.push("sell");
        this.property.post_type = post_type;
      }
      if (this.fetchedProperty.address) {
        var address = this.fetchedProperty.address;
        this.address = `${address.street} ${address.number}, ${address.city}, ${address.state}, ${address.country}`;
      }
    },

    setPlace(place) {
      this.property.address_attributes.lat = place.latitude;
      this.property.address_attributes.lng = place.longitude;
      this.property.address_attributes.street = place.route;
      this.property.address_attributes.number = place.street_number;
      this.property.address_attributes.city = place.locality;
      this.property.address_attributes.state =
        place.administrative_area_level_1;
      this.property.address_attributes.country = place.country;

      this.latitude = place.latitude;
      this.longitude = place.longitude;

      this.marker.lat = place.latitude;
      this.marker.lng = place.longitude;
    }
  }
};
</script>

<style>
.active-btn {
  border-color: red !important;
}

map > div {
  border-radius: 10px;
}
</style>
