<template>
  <div>
    <div>
      <div class="d-flex flex-wrap white px-8 pt-4">
        <h1 class="my-2 mb-4">Consultas</h1>
      </div>

      <v-tabs
        color="primary"
        v-model="tab"
        :grow="$vuetify.breakpoint.mobile"
        background-color="white"
        >
        <v-tab>
          Generales
        </v-tab>
        <v-tab>
          Inversión
        </v-tab>
        <v-tab>
          Por propiedad
        </v-tab>
      </v-tabs>
    </div>

    <v-tabs-items 
      class="mt-3 px-3 background"
      v-model="tab"
      :key="tab"
      >
      <v-tab-item>
        <inquiries-list
          type="global"
          ></inquiries-list>
      </v-tab-item>
      <v-tab-item>
        <inquiries-list
          type="investments"
          ></inquiries-list>
      </v-tab-item>
      <v-tab-item>
        <inquiries-list
          ></inquiries-list>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import InquiriesList from '@/components/inquiries/List'

export default {
  data: () => ({
    tab: 0
  }),

  components: {
    InquiriesList
  },
}
</script>
