<template>
  <v-navigation-drawer
    class="primary accent-4"
    dark
    permanent
    expand-on-hover
    width="169"
    v-if="currentUser"
    app
  >
    <changelog ref="changelog"></changelog>
    <!--Logo-->
    <v-img
      height="92"
      :src="imageUrl(currentUser.selectedAgency.logoUrl)"
      alt="Logo"
      class="text-center"
    >
    </v-img>
    <v-divider></v-divider>
    <!--Menus list. Items can be added in data property 'items'-->
    <v-list nav class="mr-0 primary">
      <v-list-item
        v-for="item in items"
        :key="item.title"
        link
        exact
        :to="{ name: item.route }"
        v-if="item.allowedRoles.some(r => currentUser.displayRoles.includes(r))"
      >
        <v-list-item-icon>
          <div
            v-if="item.showsCount"
            class="rounded-circle red d-flex align-center justify-center font-weight-bold"
            style="height: 24px; width: 24px; position: absolute; top: 4px; right: 4px; z-index: 3; font-size: 10px"
          >
            {{ item.count }}
          </div>
          <v-icon>
            {{ item.icon }}
          </v-icon>
        </v-list-item-icon>

        <v-list-item-title class="nav-bar-content py-0" width="100vw">
          {{ item.title }}
        </v-list-item-title>
      </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <!--Settings-->
    <v-list nav>
      <v-list-item link @click="openChangelog">
        <v-list-item-content>
          <v-list-item-title>Novedades</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item link :to="{ name: 'Settings' }">
        <v-list-item-content>
          <v-list-item-title>Preferencias</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group class="mb-2" v-if="currentUser">
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title class="nav-bar-content">{{
              currentUser.selectedAgency.name
            }}</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item
          link
          @click="changeSelectedAgency(agency.id)"
          v-if="!agency.selected"
          v-for="agency in currentUser.userAgencies"
        >
          <v-list-item-content>
            <v-list-item-title>{{ agency.agency.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-item link @click="logout">
        <v-list-item-content>
          <v-list-item-title class="nav-bar-content"
            >Cerrar sesión</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <!--Open and close arrow -->
  </v-navigation-drawer>
</template>

<script>
import Changelog from "@/components/shared/Changelog";
import { mapGetters } from "vuex";
import { SwitchSelectedAgency } from "@/graphql/mutations/user";
import {
  OutdatedPricesList,
  FinishingContractsList
} from "@/graphql/queries/contract";
import { TokenService } from "@/services/storageService";

export default {
  name: "AppBar",
  data() {
    return {
      items: [
        {
          title: "Caja",
          route: "balances",
          allowedRoles: ["gendev", "admin"],
          icon: "mdi-cash-register"
        },
        {
          title: "Asientos",
          route: "payments",
          allowedRoles: ["gendev", "admin"],
          icon: "mdi-cash-multiple"
        },
        {
          title: "Inmuebles",
          route: "Properties",
          allowedRoles: ["gendev", "admin", "properties"],
          icon: "mdi-home"
        },
        {
          title: "Contratos",
          route: "Contracts",
          allowedRoles: ["gendev", "admin"],
          icon: "mdi-signature-text"
        },
        {
          title: "Expensas",
          route: "buildings",
          allowedRoles: ["gendev", "admin"],
          icon: "mdi-office-building"
        },
        {
          title: "Agenda",
          route: "Directory",
          allowedRoles: ["gendev", "admin", "properties"],
          icon: "mdi-notebook"
        },
        {
          title: "Conexiones",
          route: "matches",
          allowedRoles: ["gendev", "admin", "properties"],
          icon: "mdi-transit-connection"
        },
        {
          title: "Consultas",
          route: "inquiries",
          allowedRoles: ["gendev", "admin"],
          icon: "mdi-chat",
          showsCount: true,
          count: 0
        },
        {
          title: "Staff",
          route: "staff",
          allowedRoles: ["admin"],
          icon: "mdi-account-multiple"
        },
        {
          title: "Incidencias",
          route: "MainTickets",
          allowedRoles: ["gendev", "admin"],
          icon: "mdi-file-multiple"
        },
        {
          title: "Alertas",
          route: "Notifications",
          allowedRoles: ["gendev", "admin"],
          icon: "mdi-bell",
          showsCount: true,
          count: 0
        }
      ],
      icons: {
        color: "white--text"
      }
    };
  },

  computed: {
    ...mapGetters(["currentUser"])
  },

  watch: {
    currentUser(user) {
      if (user) {
        let item = this.items.find(el => el.title == "Consultas");
        item.count = user.selectedAgency.unseenInquiries;
      }
    }
  },

  created() {
    this.fetchOutdatedPrices();
    this.fetchFinishingContracts();
  },

  methods: {
    fetchOutdatedPrices() {
      this.$apollo
        .query({
          query: OutdatedPricesList,
          fetchPolicy: "no-cache"
        })
        .then(res => {
          let item = this.items.find(el => el.title == "Alertas");
          item.count += res.data.outdatedPrices.length;
        });
    },

    fetchFinishingContracts() {
      this.$apollo
        .query({
          query: FinishingContractsList,
          fetchPolicy: "no-cache"
        })
        .then(res => {
          let item = this.items.find(el => el.title == "Alertas");
          item.count += res.data.finishingContracts.length;
        });
    },

    logout() {
      TokenService.removeToken();
      this.$router.go("");
    },

    imageUrl(url) {
      return process.env.VUE_APP_RAILS_URL + url;
    },

    changeSelectedAgency(id) {
      this.$apollo
        .mutate({
          mutation: SwitchSelectedAgency,
          variables: {
            input: {
              id: id
            }
          }
        })
        .then(res => {
          this.$router.go();
        });
    },

    openChangelog() {
      this.$refs.changelog.dialog = true;
    }
  },

  components: {
    Changelog
  }
};
</script>
