<template>
	<div id="filters-container" :style="containerWidth">
		<v-form
			:width="containerWidth"
			class="d-flex"
			lazy-validation>
			<v-col class="px-0 d-flex align-start justify-center" cols="2">
				<v-text-field
					height="60px"
					flat
					v-model="search"
					label="Search"
					filled
					prepend-inner-icon="mdi-magnify"
					hide-details
				/>
			</v-col>
			<slot /> 
		</v-form>
	</div>
</template>

<script>
export default {
	name: "filters",
	data(){
		return{
			search: ""
		}
	},
	props: {
		containerWidth:{
			required: false, 
			default: "width: 100vw"
		},

	}
}
</script>
