<template>
  <v-card tile flat>
    <v-toolbar
      class="justify-center"
      color="primary"
      dark
      flat>
      <v-container
        style="width: 800px"
        class="px-6">
        <v-toolbar-title>Logo</v-toolbar-title>
      </v-container>
    </v-toolbar>
  </v-card>
</template>

<script>
</script>

<style @scoped>
.v-toolbar__extension {
  padding: 0px !important;
}
</style>
