<template>
  <v-main>
    <v-form v-model="valid" ref="form">
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="newUser.username"
              :rules="nameRules"
							type="name"
              :label="$t('field.username')"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              v-model="newUser.credentials.email"
              :rules="emailRules"
							type="email"
              :label="$t('field.email')"
              :error-messages="errors.email && $t(`error.${errors.email}`)"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              v-model="newUser.credentials.password"
              :rules="passwordRules"
              type="password"
              :label="$t('field.password')"
              required
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
      <v-btn
        color="success"
        class="mr-4"
        @click="createUser"
      >
        {{ $t('action.create') }}
      </v-btn>

    </v-form>
  </v-main>
</template>

<script>
import { CreateUser } from '../graphql/mutations/user'
import { Username, Email, Password } from '../utils/rules'

export default {
  name: 'sign-up',
  data () {
    return {
      valid: false,
      newUser: {
        username: '',
        credentials: {
          email: '',
          password: ''
        }
      },
      errors: {},
      nameRules: Username,
      emailRules: Email,
      passwordRules: Password,
    }
  },
  methods: {
    async createUser () {
      this.errors = {}
      await this.$refs.form.resetValidation()
			if (!this.valid) { return }
			console.log(this.newUser)
      this.$apollo.mutate({
        mutation: CreateUser,
        variables: {
          input: this.newUser
        }
      }).then(res => {
				console.log(res)
        this.errors = {}
        this.$emit("created")
      }).catch(errors => {
					console.log(errors)
        this.errors = this.$errorHandler.getFormErrors(errors.graphQLErrors)
        this.valid = true
      })
    }
    
  }
}
</script>
