@import "~vue-wysiwyg/dist/vueWysiwyg";

//Variables
$primary: #293448;
$secondary: #3b4a67bb;
$accent: #8c9eff;
$background: #f8f9fb;
$succes: #6c8762;
$pending: #969125;
$error: #db2b39;
$pills:  #ebebeb;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: lightgrey
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b4a67bb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #293448;
}

body {
  background-color: $background
}

* {
  margin: 0 ; 
  overflow-wrap: break-word;
}

.capitalize-text {
  text-transform: lowercase;
}

.capitalize-text:first-line {
  text-transform: capitalize;
}

.fill-width {
  width: 100%
}

.v-card__title {
  word-break: normal !important;
}
.v-application{
  background-color: $background;
}
.estates-list-container{
  height: 100vh;
}
.nav-bar-content{
  color: white !important;
}

.border{
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.imageSecondary{
  grid-column: 1 / span 2;
  width: 80px;
  height: 80px;
}
.property-images-grid{
  display: grid;
  grid-template-columns: 6% 6% 2% 6% 6% 6% 6% 6%;
  grid-template-rows: repeat(6, 2fr);
  column-gap: 2px;
  row-gap: 1px;
  justify-content: center;
}
.range-slider{
  vertical-align: middle;
}

.inquiry-dialog {
  height: calc(100vh)
}

.clients-card {
  width: 400px
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden !important;
}
