<template>
  <v-dialog
    v-model="dialog"
    width="500"
    >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        small
        depressed
        color="success"
        v-on="on"
        v-bind="attrs"
        >
        + Nuevo enlace
      </v-btn>
    </template>

    <v-card
      >
      <v-card-title>
        Crear enlace

        <v-spacer></v-spacer>

        <v-btn
          icon
          @click="dialog = false"
          >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text>
        <v-form
          v-model="valid"
          ref="form"
          lazy-validation
          >
          <v-text-field
            outlined
            solo
            flat
            v-model="attributes.name"
            :rules="[
              v => !!v || 'Campo obligatorio'
            ]"
            label="Título"
            dense
            ></v-text-field>

          <v-text-field
            outlined
            solo
            flat
            v-model="attributes.description"
            label="Descripción corta"
            dense
            ></v-text-field>

          <v-text-field
            outlined
            solo
            flat
            v-model="attributes.link"
            :rules="[
              v => !!v || 'Campo obligatorio'
            ]"
            label="URL"
            dense
            ></v-text-field>

          <v-text-field
            outlined
            solo
            flat
            v-model="attributes.buttonTag"
            label="Texto del botón"
            dense
            ></v-text-field>

          <v-file-input
            outlined
            solo
            flat
            dense
            label="Imagen"
            v-model="attributes.image"
            >
          </v-file-input>

          <div
            class="text-right"
            >
            <v-btn
              color="success"
              depressed
              @click="createSocial"
              >
              Crear
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { CreateSocial } from '@/graphql/mutations/social'

export default {
  data: () => ({
    valid: true,
    dialog: false,
    attributes: {
      name: '',
      description: '',
      link: '',
      buttonTag: '',
      image: null
    }
  }),

  methods: {
    createSocial () {
      this.valid = this.$refs.form.validate()

      if (this.valid) {
        this.$apollo.mutate({
          mutation: CreateSocial,
          variables: {
            input: {
              attributes: this.attributes
            }
          }
        }).then( res => {
          this.$refs.form.reset()
          this.$emit('reload')
          this.dialog = false
        })
      }
    }
  }
}
</script>
