<template>
  <v-dialog
    v-model="dialog"
    width="500"
    >
    <template v-slot:activator="{ on, attrs }">
      <v-icon
        color="white"
        v-show="hover"
        v-on="on"
        v-bind="attrs"
        >
        mdi-delete
      </v-icon>
    </template>

    <v-card
      >
      <v-card-title>
        Crear enlace

        <v-spacer></v-spacer>

        <v-btn
          icon
          @click="dialog = false"
          >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text>
        <div>
          ¿Está seguro de que desea eliminar el enlace? Esta acción no se puede deshacer.
        </div>

        <div
          class="text-right"
          >
          <v-btn
            color="error"
            depressed
            @click="deleteSocial"
            >
            Eliminar
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { DeleteSocial } from '@/graphql/mutations/social'

export default {
  data: () => ({
    dialog: false,
  }),

  props: {
    id: {
      type: Number | String,
      required: true
    },

    hover: {
      type: Boolean,
      required: false
    }
  },

  methods: {
    deleteSocial () {
      this.$apollo.mutate({
        mutation: DeleteSocial,
        variables: {
          input: {
            id: this.id
          }
        }
      }).then ( res => {
        this.$emit('reload')
        this.dialog = false
      })
    }
  }
}
</script>
