<template>
  <div
    v-if="!loading"
    class="fill-height">
    <Stepper 
      :fetchedProperty="property" /> 
  </div>
</template>

<script>
import { Property } from '@/graphql/queries/property'
import Stepper from '@/components/properties/create/Stepper'

export default {
  data: () => ({
    property: {},
    loading: true
  }),

  components: {
    Stepper
  },

  created () {
    if (this.$route.params.id) {
      this.fetchProperty ()
    } else {
      this.loading = false
    }
  },

  methods: {
    fetchProperty () {
      this.$apollo.query({
        query: Property,
        variables: {
          id: this.$route.params.id
        },
        fetchPolicy: 'no-cache'
      }).then(res => {
        this.property = res.data.property

        this.loading = false
      })
    }
  }
}
</script>

<style @scoped>
.v-stepper__wrapper {
  height: 100% !important;
  padding: 0px 9px;
}
</style>
