<template>
  <div class="properties-container fill-height">
    <v-snackbar
      light
      :timeout="3000"
      :value="success">
      {{ $t('property.list.notifications.updated_with_success') }}    
      <template>
        <v-icon
          color="success"
          class="mt-n1">
          mdi-book-check-outline
        </v-icon>
      </template>
    </v-snackbar>
    <!--Properties Header-->
    <div
      class="d-flex flex-wrap white px-8 pt-4 align-center justify-space-between"
      >
      <div>
        <h1 class="my-2">{{ $t('property.list.title') }}</h1>
      </div>

      <div>
        <v-btn 
          tile 
          @click.stop="$router.push({ name: 'CreateProperty' })"
          class="primary">
          {{ $t('create.property') }}
        </v-btn>
      </div>
    </div>

    <!--Tabs-->
    <div>
      <v-tabs v-model="tabs">
        <v-tab width="50%">
          {{ $t('property.list.tabs.rent') }}
        </v-tab>
        <v-tab width="50%">
          {{ $t('property.list.tabs.sell') }}
        </v-tab>
      </v-tabs>
    </div>

    <div 
      class="filters_bg pl-12"
      >
      <!--Uncomment this to add Search input. You should add "search" data property-->
      <div class="py-2 fill-width filters_bg align-center">
        <v-card
          class="align-center filters_bg"
          flat>
          <v-row>
            <v-col 
              class="pa-0"
              cols="4">
              <v-text-field
                flat
                dense
                solo
                class="rounded-r-0 filters_bg grow"
                color="primary"
                v-model="search"
                :label="$t('property.list.filters.search')"
                prepend-inner-icon="mdi-magnify"
                hide-details
                ></v-text-field>
            </v-col>
            <v-divider
              class="black"
              vertical></v-divider>
            <v-col 
              class="pa-0"
              cols="2">
              <v-select
                flat
                solo
                dense
                :items="property_types"
                v-model="filters.propertyType"
                multiple
                class="rounded-0 filters_bg shrink"
                :label="$t('property.list.filters.property_type')"
                hide-details
                ></v-select>
            </v-col>
            <v-divider
              class="black"
              vertical></v-divider>
            <v-col 
              class="pa-0"
              cols="2">
              <v-select
                flat
                solo
                dense
                :items="states"
                v-model="filters.state"
                multiple
                class="rounded-0 filters_bg shrink"
                :label="$t('property.list.filters.state')"
                hide-details
                ></v-select>
            </v-col>
            <v-divider
              class="black"
              vertical></v-divider>
            <v-col 
              class="pa-0 align-self-center ml-2"
              cols="3">
              <v-checkbox
                dense
                v-model="filters.disabled"
                class="rounded-0 filters_bg shrink mt-0 pt-0"
                label="Mostrar sólo deshabilitados"
                hide-details
                ></v-checkbox>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </div>
    <!--Finish properties Header-->
    <div class="properties-list-container fill-height mt-3 px-3">
      <List 
        ref="list"
        :key="tabs" 
        @reload="fetchProperties('no-cache')"
        :properties="properties"/>
      <v-col
        cols="12">
        <div class="text-center">
          <v-pagination
            v-model="page"
            :length="pages"
            >
          </v-pagination>
          <v-select
            class="per-page-select"
            solo
            :items="[10,20,50,100]"
            v-model="per_page"
            >
          </v-select>
        </div>
      </v-col>  
    </div>
  </div>
</template>

<script>
import { PropertyTypes } from '@/graphql/queries/properties'
import { Properties } from '@/graphql/queries/property'
import List from '@/components/properties/List'

export default {
  name: 'Properties',
  data() {
    return {
      search: "",
      timer: null,
      tabs: 0,
      range: {
        min: 0,
        max: 60000
      },
      filters: {
        propertyType: null,
        state: null,
        disabled: false,
      },
      property_types: [],
      states: [
        {
          text: 'Alquilado',
          value: 'rented'
        },
        {
          text: 'Borrador',
          value: 'draft'
        },
        {
          text: 'Publicado',
          value: 'published'
        },
        {
          text: 'Reservado',
          value: 'booked'
        },
      ],
      properties: [],
      types: ["rent", "sell"],
      page: 1,
      pages: 1,
      per_page: 10
    }
  },

  props: {
    success: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  components:{
    List
  },

  created () {
    this.fetchProperties('no-cache')
    this.fetchTypes ()
  },

  methods: {
    fetchProperties(policy, search = "", filters = {}) {
      this.$apollo.query({
        query: Properties,
        variables: {
          search: search,
          filters: filters,
          operationType: this.types[this.tabs],
          page: this.page,
          perPage: this.per_page
        },
        fetchPolicy: policy
      }).then(res => {
        this.properties = res.data.properties.properties
        this.pages = res.data.properties.pages
      })
    },

    fetchTypes () {
      this.$apollo.query({
        query: PropertyTypes,
        variables: {
          agencyIds: [1, 2]
        }
      }).then ( res => {
        res.data.propertyTypes.forEach( type => {
          this.property_types.push({
            text: this.$t('property.type.' + type.name),
            value: type.name
          })
        })
      })
    },
  },
  watch: {
    tabs () {
      this.fetchProperties('no-cache')
    },
    filters: {
      handler () {
        this.fetchProperties('no-cache', this.search, this.filters)
      },

      deep: true
    },
    search: {
      handler () {
        if (this.timer) clearTimeout(this.timer)

        this.timer = setTimeout( () => {
          this.fetchProperties('no-cache', this.search, this.filters)
        }, 500)
      }
    },
    page () {
      this.fetchProperties('no-cache', this.search, this.filters)
    },
    per_page () {
      this.fetchProperties('no-cache', this.search, this.filters)
    }
  }
}
</script>

<style scoped>
>>>.v-input__slot {
  background: transparent !important
}

>>>.v-input__append-outer {
  width: 300px
}

.per-page-select {
  max-width: 80px!important;
  display:inline-block;
}
</style>
