<template>
  <div style="flex: 1 1 0px">
    <v-dialog v-model="dialog" width="1200">
      <template v-slot:activator="{ on, attrs }">
        <v-card v-on="on" v-bind="attrs" elevation="5" color="grey lighten-4">
          <v-card-text class="text--primary">
            <v-progress-circular
              class="mr-1"
              style="margin-top: -2px"
              v-if="loading"
              indeterminate
              size="16"
              color="primary"
            ></v-progress-circular>
            <span v-else class="primary--text font-weight-bold">{{
              clients.length
            }}</span>
            clientes asignadas
          </v-card-text>
        </v-card>
      </template>

      <v-card>
        <v-card-title>
          Clientes
        </v-card-title>

        <v-card-text>
          <template v-for="contact in clients">
            <v-card
              outlined
              :to="{ name: 'admin_user_detail', params: { id: contact.id } }"
              class="my-2 rounded-xl"
            >
              <v-card-text>
                <v-row align="center">
                  <v-col cols="6" md="3">
                    {{ contact.profile.name }}
                  </v-col>
                  <v-col
                    md="3"
                    cols="12"
                    class="py-1 py-md-0 d-flex justify-space-between flex-row flex-md-column"
                  >
                    <div>{{ contact.profile.email }}</div>
                    <div>{{ contact.profile.phone }}</div>
                  </v-col>
                  <v-col v-if="$vuetify.breakpoint.smAndDown" cols="12">
                    <v-divider></v-divider>
                  </v-col>
                  <v-col md="6" cols="12">
                    {{ contact.profile.address }}
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </template>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { Clients } from "@/graphql/queries/staff";

export default {
  data: () => ({
    dialog: false,
    clients: [],
    loading: false
  }),

  props: {
    id: {
      required: true,
      type: Number | String
    }
  },

  watch: {
    id: {
      handler() {
        this.fetchClients();
      }
    }
  },

  created() {
    this.fetchClients();
  },

  methods: {
    fetchClients() {
      this.loading = true;

      this.$apollo
        .query({
          query: Clients,
          variables: {
            id: this.id
          }
        })
        .then(res => {
          this.clients = res.data.clients.contacts;

          this.loading = false;
        });
    }
  }
};
</script>
