<template>
  <div style="flex: 1 1 0px">
    <v-dialog v-model="dialog" width="1200">
      <template v-slot:activator="{ on, attrs }">
        <v-card v-on="on" v-bind="attrs" elevation="5" color="grey lighten-4">
          <v-card-text class="text--primary">
            <v-progress-circular
              class="mr-1"
              style="margin-top: -2px"
              v-if="loading"
              indeterminate
              size="16"
              color="primary"
            ></v-progress-circular>
            <span v-else class="primary--text font-weight-bold">{{
              inquiries.length
            }}</span>
            consultas {{ status[0] == "success" ? "finalizadas" : "en curso" }}
          </v-card-text>
        </v-card>
      </template>

      <v-card>
        <v-card-title>
          Consultas
        </v-card-title>

        <v-card-text>
          <template v-for="inquiry in inquiries">
            <card :inquiry="inquiry" @reload="fetchInquiries"></card>
          </template>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { Inquiries } from "@/graphql/queries/inquiries";

import Card from "@/components/inquiries/Card";

export default {
  data: () => ({
    dialog: false,
    inquiries: [],
    loading: false
  }),

  props: {
    id: {
      required: true,
      type: Number | String
    },
    status: {
      required: true,
      type: Array
    }
  },

  watch: {
    id: {
      handler() {
        this.fetchInquiries();
      }
    }
  },

  created() {
    this.fetchInquiries();
  },

  methods: {
    fetchInquiries() {
      this.loading = true;

      this.$apollo
        .query({
          query: Inquiries,
          variables: {
            userId: this.id,
            status: this.status
          }
        })
        .then(res => {
          this.inquiries = res.data.inquiries.inquiries;

          this.loading = false;
        });
    }
  },

  components: { Card }
};
</script>
