<template>
  <div style="flex: 1 1 0px">
    <v-dialog v-model="dialog" width="1200">
      <template v-slot:activator="{ on, attrs }">
        <v-card v-on="on" v-bind="attrs" elevation="5" color="grey lighten-4">
          <v-card-text class="text--primary">
            <v-progress-circular
              class="mr-1"
              style="margin-top: -2px"
              v-if="loading"
              indeterminate
              size="16"
              color="primary"
            ></v-progress-circular>
            <span v-else class="primary--text font-weight-bold">{{
              properties.length
            }}</span>
            propiedades asignadas
          </v-card-text>
        </v-card>
      </template>

      <v-card>
        <v-card-title>
          Propiedades
        </v-card-title>

        <v-card-text>
          <list
            ref="list"
            @reload="fetchProperties('no-cache')"
            :properties="properties"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { AssignedProperties } from "@/graphql/queries/staff";
import List from "@/components/properties/List";

export default {
  data: () => ({
    dialog: false,
    properties: [],
    loading: false
  }),

  props: {
    id: {
      required: true,
      type: Number | String
    }
  },

  watch: {
    id: {
      handler() {
        this.fetchProperties();
      }
    }
  },

  created() {
    this.fetchProperties();
  },

  methods: {
    fetchProperties() {
      this.loading = true;

      this.$apollo
        .query({
          query: AssignedProperties,
          variables: {
            id: this.id
          }
        })
        .then(res => {
          this.properties = res.data.assignedProperties.properties;

          this.loading = false;
        });
    }
  },

  components: { List }
};
</script>
