<template>
  <div style="flex: 1 1 0px">
    <v-dialog v-model="dialog" width="1200">
      <template v-slot:activator="{ on, attrs }">
        <v-card v-on="on" v-bind="attrs" elevation="5" color="grey lighten-4">
          <v-card-text class="text--primary">
            <v-progress-circular
              class="mr-1"
              style="margin-top: -2px"
              v-if="loading"
              indeterminate
              size="16"
              color="primary"
            ></v-progress-circular>
            <span v-else class="primary--text font-weight-bold">{{
              searches.length
            }}</span>
            búsquedas asignadas
          </v-card-text>
        </v-card>
      </template>

      <v-card>
        <v-card-title>
          Búsquedas
        </v-card-title>

        <v-card-text>
          <template v-for="(search, idx) in searches">
            <search-card
              :search="search"
              :colored="!(idx % 2)"
              @reload="fetchSearches"
            ></search-card>
          </template>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { StaffSearches } from "@/graphql/queries/searches";

import SearchCard from "@/components/searches/Card";

export default {
  data: () => ({
    dialog: false,
    searches: [],
    loading: false
  }),

  props: {
    id: {
      required: true,
      type: Number | String
    }
  },

  watch: {
    id: {
      handler() {
        this.fetchSearches();
      }
    }
  },

  created() {
    this.fetchSearches();
  },

  methods: {
    fetchSearches() {
      this.loading = true;

      this.$apollo
        .query({
          query: StaffSearches,
          variables: {
            staffId: this.id
          }
        })
        .then(res => {
          this.searches = res.data.searches;

          this.loading = false;
        });
    }
  },

  components: { SearchCard }
};
</script>
