<template>
  <div style="position: relative">
    <v-card
      outlined
      class="mb-1 rounded-lg"
      style="position: relative"
      @click="$refs.showDetail.show = true"
    >
      <div
        style="position: absolute; top: calc(50% - 2px); left: 4px; width: 10px; height: 10px"
        class="blue rounded-circle"
        v-if="!inquiry.read"
      ></div>
      <v-card-text class="text-subtitle-2 pb-0 pt-2 pl-5">
        <v-row v-if="inquiry.property" class="align-center">
          <v-col cols="6">
            <div>
              {{ inquiry.property.fullAddress }}
            </div>

            <div>
              <v-btn
                outlined
                x-small
                class="rounded-pill"
                color="primary"
                @click="redirect"
              >
                Ver propiedad
              </v-btn>
            </div>
          </v-col>

          <v-col cols="3" class="text-center">
            {{ inquiry.name }}
          </v-col>

          <v-col cols="3" class="text-right">
            {{ new Date(inquiry.createdAt).toLocaleDateString() }}
          </v-col>
        </v-row>

        <v-row v-else align="center">
          <v-col cols="6">
            <div>
              {{
                inquiry.topic || $t("investmentTypes." + inquiry.investmentType)
              }}
            </div>

            <div v-if="inquiry.location" class="caption">
              {{ inquiry.location.toUpperCase() }}
            </div>
          </v-col>

          <v-col cols="3" class="text-center">
            {{ inquiry.name }}
          </v-col>

          <v-col cols="3" class="text-right">
            {{ new Date(inquiry.createdAt).toLocaleDateString() }}
          </v-col>
        </v-row>

        <v-chip
          x-small
          color="primary"
          class="rounded-tr-0 rounded-bl-0"
          style="position: absolute; left: 0; top: 0"
        >
          {{ states[inquiry.state] }} |
          {{ inquiry.search ? "Con búsqueda asignada" : "Sin búsqueda asignada" }}
        </v-chip>
      </v-card-text>
    </v-card>

    <detail
      ref="showDetail"
      :inquiry="inquiry"
      @reload="$emit('reload')"
    ></detail>
  </div>
</template>

<script>
const Detail = () => import("@/components/inquiries/Detail");

export default {
  data: () => ({
    copied: true,
    showDetail: false,
    states: {
      pending: "Pendiente",
      ongoing: "En curso",
      on_hold: "Esperando respuesta",
      watching: "En observación",
      success: "Finalizado"
    }
  }),

  props: {
    inquiry: {
      required: true,
      type: Object
    }
  },

  methods: {
    copyText(text) {
      navigator.clipboard.writeText(text);
      this.copied = true;
    },

    redirect() {
      var routerPath = this.$router.resolve({
        name: "Property",
        params: { id: this.inquiry.property.id }
      });
      window.open(routerPath.href, "_blank");
    }
  },

  components: {
    Detail
  }
};
</script>
