<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn small color="primary" block depressed v-on="on" v-bind="attrs">
        Nueva gestión
      </v-btn>
    </template>

    <v-card>
      <v-card-title> </v-card-title>
      <v-card-text>
        <div class="text-center mb-6">
          <div>
            <v-icon x-large color="primary">
              mdi-message-processing
            </v-icon>
          </div>

          <div class="text--primary body-1 mt-3">
            Por favor, ingrese los datos de la consulta.
          </div>
        </div>

        <div>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field
              label="Nombre"
              v-model="attributes.name"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-text-field
              label="E-mail"
              v-model="attributes.email"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-text-field
              label="Número de teléfono"
              v-model="attributes.phone"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-text-field
              label="Motivo de consulta"
              v-model="attributes.topic"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-textarea
              label="Descripción"
              v-model="attributes.message"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-textarea>

            <v-btn
              depressed
              color="primary"
              class="rounded-lg"
              @click="createInquiry"
              block
            >
              Crear
            </v-btn>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { CreateInquiry } from "@/graphql/mutations/inquiries";

export default {
  data() {
    return {
      dialog: false,
      valid: true,
      required: [v => !!v || "Campo obligatorio"],
      attributes: {
        email: null,
        name: null,
        phone: null,
        topic: null,
        message: null,
        contactId: null
      }
    };
  },

  props: {
    owner: {
      type: Object,
      required: false
    }
  },

  watch: {
    owner() {
      if (this.owner) {
        this.attributes.email = this.owner.email;
        this.attributes.name = this.owner.profile.name;
        this.attributes.phone = this.owner.profile.phone;
        this.attributes.contactId = this.owner.id;
      }
    }
  },

  created() {
    if (this.owner) {
      this.attributes.email = this.owner.email;
      this.attributes.name = this.owner.profile.name;
      this.attributes.phone = this.owner.profile.phone;
      this.attributes.contactId = this.owner.id;
    }
  },

  methods: {
    createInquiry() {
      if (this.$refs.form.validate()) {
        this.$apollo
          .mutate({
            mutation: CreateInquiry,
            variables: {
              input: {
                attributes: this.attributes
              }
            }
          })
          .then(res => {
            this.$emit("reload");
            this.$refs.form.reset();
            this.dialog = false;
          });
      }
    }
  }
};
</script>
