<template>
  <div>
    <v-dialog
      v-model="show"
      scrollable
      :max-width="expand ? 1400 : 710"
      transition="dialog-bottom-transition"
      content-class="inquiry-dialog"
    >
      <div class="d-flex flex-row justify-space-between rounded-lg">
        <v-card
          flat
          v-if="expand"
          class="white grow rounded-0"
          style="max-width: 700px !important; overflow: auto; scrollbar-gutter: stable"
        >
          <v-card-text>
            <search-detail
              :show-head="false"
              :search="inquiry.search"
            ></search-detail>
          </v-card-text>
        </v-card>

        <div class="d-flex align-center white shrink px-1">
          <v-btn
            icon
            small
            @click="expand = !expand"
            :disabled="!inquiry.search"
          >
            <v-icon>
              mdi-chevron-triple-{{ expand ? "right" : "left" }}
            </v-icon>
          </v-btn>
        </div>

        <v-card
          style="width: 660px;"
          flat
          class="rounded-l-0 fill-height rounded-lg grow ml-auto d-flex flex-column"
        >
          <v-card-title class="align-center">
            <div>
              <div class="text-subtitle-1 font-weight-medium">
                {{
                  inquiry.property ? inquiry.property.fullAddress : inquiry.name
                }}
              </div>

              <div class="text-subtitle-2 text--secondary">
                {{ new Date(inquiry.createdAt).toLocaleDateString() }}
              </div>
            </div>

            <v-spacer></v-spacer>

            <div class="text-right">
              <div v-if="currentUser.displayRoles.includes('admin')">
                <v-dialog width="600" v-model="dialog">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-on="on"
                      v-bind="attrs"
                      depressed
                      small
                      class="rounded-pill"
                      color="error"
                    >
                      Eliminar consulta
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <v-spacer></v-spacer>

                      <v-btn icon small @click="dialog = !dialog">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                    </v-card-title>
                    <v-card-text class="text--primary body-1">
                      ¿Estás seguro de que deseas eliminar la consulta? Esta
                      acción
                      <strong>no se puede deshacer</strong>.
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn
                        outlined
                        small
                        class="rounded-pill"
                        color="primary"
                        @click="dialog = !dialog"
                      >
                        Cancelar
                      </v-btn>

                      <v-btn
                        depressed
                        small
                        class="rounded-pill"
                        color="error"
                        @click="deleteInquiry"
                      >
                        Eliminar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </div>

              <div v-if="inquiry.property">
                <v-btn
                  depressed
                  small
                  class="rounded-pill"
                  color="primary"
                  @click="
                    redirect(
                      $router.resolve({
                        name: 'Property',
                        params: { id: inquiry.property.id }
                      })
                    )
                  "
                >
                  Ver Propiedad
                </v-btn>
              </div>

              <div v-if="!inquiry.search">
                <create
                  v-if="inquiry.contact"
                  :inquiryId="inquiry.id"
                  :userId="inquiry.contact.id"
                  @reload="$router.go()"
                ></create>
              </div>
            </div>
          </v-card-title>

          <v-card-text
            style="flex-grow: 1; overflow: auto; scrollbar-gutter: stable"
          >
            <v-divider></v-divider>

            <v-card flat>
              <v-card-text class="px-0">
                <div class="d-flex align-center" style="gap: 12px">
                  <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <div
                        class="blue--text caption text-uppercase font-weight-medium"
                        style="cursor: pointer"
                        v-on="on"
                        v-bind="attrs"
                      >
                        Asignada a:
                        {{ inquiry.user ? inquiry.user.email : "sin asignar"
                        }}<v-icon style="margin-top: -3px" color="blue"
                          >mdi-chevron-down</v-icon
                        >
                      </div>
                    </template>

                    <v-list>
                      <v-list-item
                        link
                        v-for="mail in [
                          'inmobiliariasartor@yahoo.com.ar',
                          'buseghinv@gmail.com',
                          'lorenaberlanda@yahoo.com.ar',
                          'franco_sartor@hotmail.com',
                          'ramirosartor@hotmail.com'
                        ]"
                        @click="assign(mail)"
                      >
                        <v-list-item-title>{{ mail }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>

                  <v-select
                    v-model="state"
                    :items="states"
                    label="Estado"
                    outlined
                    dense
                    hide-details
                    class="ml-auto"
                    style="max-width: 200px"
                    @change="updateState"
                  ></v-select>
                </div>

                <v-divider class="my-2"></v-divider>

                <div class="mb-2 primary--text font-weight-bold text-body-1">
                  Datos de la consulta:
                </div>

                <div
                  class="d-flex flex-column py-0"
                  style="gap: 4px"
                  :key="(inquiry.contact || {}).id"
                >
                  <div class="font-weight-medium text--primary">
                    {{ inquiry.name }}
                  </div>

                  <div class="font-weight-medium text--primary">
                    Teléfono: {{ inquiry.phone || "-" }}
                  </div>

                  <div class="font-weight-medium text--primary">
                    E-mail: {{ inquiry.email || "-" }}
                  </div>

                  <div
                    v-if="inquiry.location"
                    class="font-weight-medium text--primary"
                  >
                    Ubicación: {{ capitalizeFirstLetter(inquiry.location) }}
                  </div>

                  <div
                    v-if="inquiry.operationType"
                    class="font-weight-medium text--primary"
                  >
                    Tipo de operación:
                    <span style="text-transform: capitalize">{{
                      inquiry.operationType
                    }}</span>
                  </div>

                  <v-divider class="my-2"></v-divider>

                  <div
                    v-if="
                      inquiry.investmentType &&
                        Object.keys(inquiry.characteristics).length
                    "
                  >
                    <div
                      class="primary--text font-weight-bold mb-2 text-body-1"
                    >
                      Características de la propiedad:
                    </div>

                    <div
                      v-for="characteristic in Object.keys(
                        inquiry.characteristics
                      )"
                      class="text-capitalize"
                    >
                      <span class="text--primary font-weight-medium">
                        {{ characteristic }}:
                      </span>
                      <span>{{ inquiry.characteristics[characteristic] }}</span>
                    </div>
                  </div>

                  <div v-if="inquiry.contact">
                    <div
                      style="cursor: pointer"
                      class="blue--text caption text-uppercase font-weight-medium"
                      @click="
                        redirect(
                          $router.resolve({
                            name: 'admin_user_search',
                            params: { id: inquiry.contact.id }
                          })
                        )
                      "
                    >
                      Ver contacto
                    </div>
                  </div>

                  <div v-else>
                    <modal
                      ref="modal"
                      text="Agregar a agenda"
                      solo
                      color="blue lighten-1"
                      button_text
                    >
                      <new-contact
                        :data="inquiry"
                        list
                        @close="$refs.modal.dialog = false"
                        @created="onCreate"
                      ></new-contact>
                    </modal>
                  </div>
                </div>
              </v-card-text>
            </v-card>

            <v-card
              flat
              v-if="inquiry.message"
              width="95%"
              class="rounded-lg grey lighten-4"
            >
              <v-card-text class="text--primary">
                {{ inquiry.message }}
              </v-card-text>
            </v-card>

            <div class="mt-2 text-center">
              Comentarios
            </div>

            <div v-if="!comments.length">
              <v-card
                flat
                width="95%"
                class="rounded-lg grey lighten-4 mt-2 ml-auto"
              >
                <v-card-text class="text--primary">
                  Aún no hay comentarios relacionados a esta consulta.
                </v-card-text>
              </v-card>
            </div>

            <template v-else v-for="comment in comments">
              <v-card
                flat
                width="95%"
                class="rounded-lg grey lighten-4 mt-2 ml-auto"
              >
                <v-card-text class="text--primary">
                  <div class="caption d-flex">
                    <div>
                      {{
                        comment.user.id == currentUser.id
                          ? "Tú"
                          : comment.user.email
                      }}
                    </div>

                    <v-spacer></v-spacer>

                    <div class="text-right">
                      {{ new Date(comment.createdAt).toLocaleDateString() }}
                    </div>
                  </div>

                  <div class="py-1">
                    {{ comment.text }}
                  </div>
                </v-card-text>
              </v-card>
            </template>
          </v-card-text>

          <v-card-actions class="px-6 pb-4">
            <v-textarea
              v-model="newComment"
              outlined
              rows="3"
              placeholder="Escriba un comentario aquí..."
              class="rounded-lg"
              append-icon="mdi-send"
              @click:append="send"
              hide-details
            ></v-textarea>
          </v-card-actions>
        </v-card>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Comments } from "@/graphql/queries/inquiries";
import {
  CreateComment,
  DeleteInquiry,
  AssignInquiry,
  UpdateInquiryContact,
  UpdateInquiryState
} from "@/graphql/mutations/inquiries";

import Modal from "@/components/modals/Default";
import NewContact from "@/components/directories/New";
import Create from "@/components/searches/Create";

const SearchDetail = () => import("@/components/searches/Detail");

export default {
  data: () => ({
    show: false,
    expand: false,
    dialog: false,
    comments: [],
    newComment: null,
    state: null
  }),

  props: {
    inquiry: {
      required: true,
      type: Object
    }
  },

  watch: {
    inquiry() {
      this.expand = this.inquiry.search;
    }
  },

  computed: {
    ...mapGetters(["currentUser"]),

    states() {
      return [
        {
          text: "Pendiente",
          value: "pending"
        },
        {
          text: "En curso",
          value: "ongoing"
        },
        {
          text: "Esperando respuesta",
          value: "on_hold"
        },
        {
          text: "En observación",
          value: "watching"
        },
        {
          text: "Finalizado",
          value: "success"
        }
      ];
    }
  },

  created() {
    this.fetchComments();
    this.expand = !!this.inquiry.search;
    this.state = this.inquiry.state;
  },

  methods: {
    redirect(path) {
      window.open(path.href, "_blank");
    },

    fetchComments() {
      this.$apollo
        .query({
          query: Comments,
          variables: {
            id: this.inquiry.id
          },
          fetchPolicy: "no-cache"
        })
        .then(res => {
          this.comments = res.data.comments;
        });
    },

    send() {
      this.$apollo
        .mutate({
          mutation: CreateComment,
          variables: {
            input: {
              attributes: {
                text: this.newComment,
                inquiryId: this.inquiry.id
              }
            }
          }
        })
        .then(res => {
          this.newComment = null;
          this.fetchComments();
        });
    },

    assign(mail) {
      this.$apollo
        .mutate({
          mutation: AssignInquiry,
          variables: {
            input: {
              id: this.inquiry.id,
              email: mail
            }
          }
        })
        .then(res => {
          this.$emit("reload");
          this.inquiry.user = {
            email: mail
          };
        });
    },

    updateContact(id) {
      this.$apollo
        .mutate({
          mutation: UpdateInquiryContact,
          variables: {
            input: {
              id: this.inquiry.id,
              contactId: id
            }
          }
        })
        .then(res => {
          this.$emit("reload");
          this.$forceUpdate();
        });
    },

    updateState(id) {
      this.$apollo
        .mutate({
          mutation: UpdateInquiryState,
          variables: {
            input: {
              id: this.inquiry.id,
              state: this.state
            }
          }
        })
        .then(res => {
          this.$emit("reload");
          this.$forceUpdate();
        });
    },

    deleteInquiry() {
      this.$apollo
        .mutate({
          mutation: DeleteInquiry,
          variables: {
            input: {
              id: this.inquiry.id
            }
          }
        })
        .then(res => {
          this.show = false;
          this.$emit("reload");
          this.$forceUpdate();
        });
    },

    onCreate(contact) {
      this.updateContact(contact.id);
      this.$refs.modal.dialog = false;
    },

    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },

    openShow() {
      this.$refs.show.dialog = true;
    }
  },

  components: {
    Modal,
    NewContact,
    SearchDetail,
    Create
  }
};
</script>
