<template>
  <div>
    <div class="d-flex justify-space-between align-center mb-3 px-3">
      <div class="d-flex flex-row align-center" style="gap: 12px">
        <v-checkbox
          v-model="mine"
          label="Sólo asignadas a mí"
          color="primary"
          class="mt-0"
          hide-details
        ></v-checkbox>

        <v-checkbox
          v-if="!$route.params.id"
          v-model="manual"
          label="Creadas manualmente"
          color="primary"
          class="mt-0"
          hide-details
        ></v-checkbox>

        <v-select
          flat
          dense
          solo
          :items="statusList"
          v-model="status"
          multiple
          class="rounded-0 filters_bg"
          :label="$t('contract.list.filters.state')"
          hide-details
        ></v-select>
      </div>

      <div>
        <create @reload="fetchInquiries" :owner="owner"></create>
      </div>
    </div>

    <template v-for="inquiry in inquiries">
      <card :inquiry="inquiry" @reload="fetchInquiries"></card>
    </template>

    <v-pagination v-model="page" :length="pages"> </v-pagination>
  </div>
</template>

<script>
import Card from "@/components/inquiries/Card";
import Create from "@/components/inquiries/Create";

import { Inquiries } from "@/graphql/queries/inquiries";

export default {
  data: () => ({
    inquiries: [],
    status: [],
    statusList: [
      {
        text: "Pendiente",
        value: "pending"
      },
      {
        text: "En curso",
        value: "ongoing"
      },
      {
        text: "Esperando respuesta",
        value: "on_hold"
      },
      {
        text: "En observación",
        value: "watching"
      },
      {
        text: "Finalizado",
        value: "success"
      }
    ],
    mine: false,
    manual: false,
    pages: 0,
    page: 1,
    perPage: 15
  }),

  props: {
    type: {
      type: String,
      required: false,
      default: null
    },

    owner: {
      type: Object,
      required: false,
      default: null
    }
  },

  watch: {
    mine() {
      this.fetchInquiries();
    },
    manual() {
      this.fetchInquiries();
    },
    status() {
      this.fetchInquiries();
    },
    page() {
      this.fetchInquiries();
    }
  },

  created() {
    this.fetchInquiries();
  },

  methods: {
    fetchInquiries() {
      this.$apollo
        .query({
          query: Inquiries,
          variables: {
            type: this.type,
            page: this.page,
            perPage: this.perPage,
            ownerId: this.$route.params.id,
            mine: this.mine,
            manual: this.manual,
            status: this.status
          },
          fetchPolicy: "no-cache"
        })
        .then(res => {
          this.inquiries = res.data.inquiries.inquiries;
          this.pages = res.data.inquiries.pages;
        });
    }
  },

  components: {
    Card,
    Create
  }
};
</script>
