<template>
  <v-stepper v-model="stepper" class="elevation-0 background fill-height">
    <v-card tile light class="full-width" color="bars">
      <v-container class="pa-0 d-flex justify-center">
        <StepperHeader :property="property" :stepper="stepper" />
      </v-container>
    </v-card>
    <v-container class="d-flex flex-row" style="height: 100%; width: 800px">
      <div class="pt-6 ml-n9">
        <v-btn @click="stepper == 1 ? $router.go(-1) : (stepper -= 1)" icon>
          <v-icon>
            mdi-arrow-left
          </v-icon>
        </v-btn>
      </div>
      <v-stepper-items class="background fill-height fill-width">
        <v-stepper-content class="pa-0 background fill-height" step="1">
          <Type
            v-if="stepper == 1"
            @continue="createDraft"
            :fetchedProperty="property"
          />
        </v-stepper-content>

        <v-stepper-content class="pa-0 background fill-height" step="2">
          <characteristics
            v-if="stepper == 2"
            ref="description"
            @continue="fillData"
            :fetchedProperty="property"
          />
        </v-stepper-content>

        <v-stepper-content class="pa-0 background fill-height" step="3">
          <Description
            v-if="stepper == 3"
            ref="description"
            @continue="fillData"
            :fetchedProperty="property"
          />
        </v-stepper-content>

        <v-stepper-content
          style="width: 500px"
          class="pa-0 background fill-height"
          step="4"
        >
          <Pictures
            v-if="stepper == 4"
            @updateImages="updateImages"
            @continue="fillData"
            :fetchedProperty="property"
          />
        </v-stepper-content>

        <v-stepper-content class="pa-0 background fill-height" step="5">
          <Price
            v-if="stepper == 5"
            @continue="publish"
            :fetchedProperty="property"
          />
        </v-stepper-content>
      </v-stepper-items>
    </v-container>
  </v-stepper>
</template>

<script>
import StepperHeader from "@/components/properties/create/StepperHeader";
import Type from "@/components/properties/create/stepper/Type";
import Description from "@/components/properties/create/stepper/Description";
import Characteristics from "@/components/properties/create/stepper/Characteristics";
import Pictures from "@/components/properties/create/stepper/Pictures";
import Price from "@/components/properties/create/stepper/Price";

export default {
  data() {
    return {
      stepper: 1,
      property: {
        id: null
      }
    };
  },

  props: {
    fetchedProperty: {
      type: Object,
      required: false,
      default: () => {
        return {
          id: null
        };
      }
    }
  },

  components: {
    StepperHeader,
    Type,
    Description,
    Pictures,
    Price,
    Characteristics
  },

  mounted() {
    this.property = this.fetchedProperty;
  },

  methods: {
    createDraft(property) {
      this.stepper = 2;
      this.property = property;
    },

    fillData(property) {
      this.stepper = parseInt(this.stepper) + 1;
      this.property = property;
    },

    updateImages(images) {
      this.property.images = images;
    },

    publish() {
      if (this.$route.query.ownerId) {
        this.$router.go(-1);
      } else {
        this.$router.push({ name: "Properties", params: { success: true } });
      }
    }
  }
};
</script>
