<template>
  <v-stepper-header
    class="elevation-0 px-5"
    style="height: 40px !important; width: 800px">
    <v-stepper-step
      class="py-2 body-2"
      :complete="stepper > 1"
      :editable="property.state != 'draft'"
      step="1">
      {{ $t('property.create.type.title') }}
    </v-stepper-step>

    <v-divider></v-divider>

    <v-stepper-step
      class="py-2 body-2"
      :complete="stepper > 2"
      :editable="property.state != 'draft'"
      step="2">
      Características
    </v-stepper-step>

    <v-divider></v-divider>

    <v-stepper-step
      class="py-2 body-2"
      :complete="stepper > 3"
      :editable="property.state != 'draft'"
      step="3">
      {{ $t('property.create.description.title') }}
    </v-stepper-step>

    <v-divider></v-divider>

    <v-stepper-step
      :complete="stepper > 4"
      :editable="property.state != 'draft'"
      class="py-2 body-2"
      step="4">
      {{ $t('property.create.pictures.title') }}
    </v-stepper-step>

    <v-divider></v-divider>

    <v-stepper-step
      class="py-2 body-2"
      :editable="property.state != 'draft'"
      step="5">
      {{ $t('property.create.price.title') }}
    </v-stepper-step>
  </v-stepper-header>
</template>

<script>
export default {
  props: {
    stepper: {
      required: true
    },

    property: {
      required: true,
      type: Object
    }
  }
}
</script>
