<template>
  <div v-if="!!properties.length">
    <v-card color="transparent" flat>
      <v-row class="px-3 grey--text">
        <v-col cols="1" class="py-0">
          <div class="font-weight-medium caption py-0 px-4"></div>
        </v-col>
        <v-col cols="6" class="py-0">
          <div class="font-weight-medium caption py-0 px-4">
            {{ $t("property.list.headers.property") }}
          </div>
        </v-col>
        <v-col cols="2" class="py-0">
          <div class="font-weight-medium caption py-0 px-4">
            {{ $t("property.list.headers.state") }}
          </div>
        </v-col>
        <v-col cols="2" class="py-0">
          <div class="font-weight-medium caption py-0 px-4">
            {{ $t("property.list.headers.price") }}
          </div>
        </v-col>
        <v-col cols="1" class="py-0">
          <div class="font-weight-medium caption py-0 px-4"></div>
        </v-col>
      </v-row>
    </v-card>
    <template v-for="property in properties">
      <v-hover :key="property.id" v-slot="{ hover }">
        <v-card
          @click="
            $router.push({ name: 'Property', params: { id: property.id } })
          "
          :class="hover ? 'elevation-3' : 'elevation-0'"
          :color="property.disabled ? 'grey lighten-2' : 'white'"
          class="col-12 my-2 px-0 py-1 d-flex align-center flex-wrap rounded-xl"
        >
          <v-col cols="1" class="py-0 px-1">
            <v-avatar class="rounded-xl" size="75">
              <v-img
                v-if="property.images.length"
                :src="url + property.images[0].url"
              ></v-img>
              <v-img
                v-else
                :src="require('@/assets/placeholders/no-image.jpg')"
              ></v-img>
            </v-avatar>
          </v-col>
          <v-col cols="6" class="py-0">
            <v-card-title class="py-0 caption" style="text-transform:uppercase">
              {{ $t("property.type." + property.propertyType.toLowerCase()) }}

              <v-tooltip color="primary" bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    color="grey lighten-1"
                    class="mt-n1 ml-1"
                    v-on="on"
                    v-bind="attrs"
                  >
                    {{
                      property.disabled ||
                      !["published", "booked"].includes(property.state)
                        ? "mdi-eye-off"
                        : "mdi-eye"
                    }}
                  </v-icon>
                </template>
                <span
                  >La propiedad
                  {{
                    property.disabled ||
                    !["published", "booked"].includes(property.state)
                      ? "no"
                      : ""
                  }}
                  es visible para el público.</span
                >
              </v-tooltip>
            </v-card-title>
            <v-card-title class="py-0 text-subtitle-1">
              {{ property.address.street }} {{ property.address.number }}
              {{ property.address.unit }}, {{ property.address.city }},
              {{ property.address.state }}
            </v-card-title>
            <v-card-title
              v-if="property.characteristics"
              class="py-0 px-3 caption"
            >
              <span class="py-0 px-1 align-center">
                <v-icon>
                  mdi-floor-plan
                </v-icon>
                {{
                  (
                    property.characteristics.find(
                      char =>
                        char.name ==
                        $t("property.list.characteristics.environments")
                    ) || {}
                  ).value || 0
                }}
              </span>
              <span class="py-0 px-1 align-center">
                <v-icon style="margin-top: -3px">
                  mdi-bed-king-outline
                </v-icon>
                {{
                  (
                    property.characteristics.find(
                      char =>
                        char.name ==
                        $t("property.list.characteristics.bedrooms")
                    ) || {}
                  ).value || 0
                }}
              </span>
              <span class="py-0 px-1 align-center">
                <v-icon>
                  mdi-shower
                </v-icon>
                {{
                  (
                    property.characteristics.find(
                      char =>
                        char.name ==
                        $t("property.list.characteristics.bathrooms")
                    ) || {}
                  ).value || 0
                }}
              </span>
              <span class="py-0 px-1 align-center">
                <v-icon>
                  mdi-arrow-expand
                </v-icon>
                {{
                  (
                    property.characteristics.find(
                      char =>
                        char.name ==
                        $t("property.list.characteristics.total_surface")
                    ) || {}
                  ).value || 0
                }}m2
              </span>
              <span class="py-0 px-1 align-center">
                <v-icon>
                  mdi-calendar-blank
                </v-icon>
                {{
                  (
                    property.characteristics.find(
                      char =>
                        char.name ==
                        $t("property.list.characteristics.antiquity")
                    ) || {}
                  ).value || 0
                }}
              </span>
            </v-card-title>
          </v-col>
          <v-col cols="2" class="py-0">
            <v-card-title class="py-0 text-subtitle-2">
              {{ $t("property.state." + property.state.toLowerCase()) }}
            </v-card-title>

            <div v-if="property.disabled">
              <v-chip small color="info lighten-2" class="black--text">
                Deshabilitada
              </v-chip>
            </div>
          </v-col>
          <v-col cols="2" class="py-0">
            <v-card-title class="py-0 text-subtitle-2 flex-column align-start">
              <div v-for="operationType in property.operationTypes">
                <template v-if="operationType == 'rent'">
                  <div>
                    <div>
                      {{ property.price == "$0,00" ? "" : property.price }}
                    </div>
                    <div class="caption">
                      {{
                        property.metadata["hide_rent_price"]
                          ? "Oculto en la web"
                          : ""
                      }}
                    </div>
                  </div>
                </template>
                <template v-else>
                  <div>
                    <div>
                      {{
                        property.sellPrice == "$0,00" ? "" : property.sellPrice
                      }}
                    </div>
                    <div class="caption">
                      {{
                        property.metadata["hide_sell_price"]
                          ? "Oculto en la web"
                          : ""
                      }}
                    </div>
                  </div>
                </template>
              </div>
            </v-card-title>
          </v-col>
          <v-col cols="1" class="py-0 text-right">
            <v-btn @click.stop="deleting = property.id" icon>
              <v-icon color="darken-1">mdi-delete</v-icon>
            </v-btn>
            <v-btn
              @click.stop="
                $router.push({
                  name: 'EditProperty',
                  params: { id: property.id }
                })
              "
              icon
            >
              <v-icon color="darken-1">mdi-pencil</v-icon>
            </v-btn>
          </v-col>
        </v-card>
      </v-hover>
    </template>

    <Modal ref="deleting">
      <v-card>
        <v-card-title>
          {{ $t("property.list.delete_modal.title") }}
        </v-card-title>
        <v-card-text>
          {{ $t("property.list.delete_modal.confirm_message") }}
        </v-card-text>
        <v-card-actions class="px-6 py-3 justify-end">
          <v-spacer></v-spacer>
          <v-btn text @click.stop="deleting = null">
            {{ $t("action.cancel") }}
          </v-btn>
          <v-btn color="primary" @click.stop="deleteProperty">
            {{ $t("action.confirm") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </Modal>
  </div>
  <div v-else>
    <v-card color="transparent" flat>
      <v-row class="px-3 grey--text">
        <v-alert color="blue" class="fill-width" text type="info">
          <span>{{ $t("property.list.no_properties_found") }}</span>
          <router-link :to="{ name: 'CreateProperty' }">{{
            $t("action.click_here")
          }}</router-link
          >.
        </v-alert>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { DeleteProperty } from "@/graphql/mutations/properties";
import { mapState } from "vuex";
import Modal from "@/components/modals/NoActivator";

export default {
  data() {
    return {
      deleting: null
    };
  },

  props: ["properties"],

  components: {
    Modal
  },

  watch: {
    deleting(newVal) {
      newVal == null
        ? (this.$refs.deleting.dialog = false)
        : (this.$refs.deleting.dialog = true);
    }
  },

  computed: {
    ...mapState(["url"])
  },

  methods: {
    deleteProperty() {
      this.$apollo
        .mutate({
          mutation: DeleteProperty,
          variables: {
            input: {
              id: this.deleting
            }
          }
        })
        .then(res => {
          if (res.data.deleteProperty.success) {
            this.$refs.deleting.dialog = false;
            this.$emit("reload");
          }
        });
    }
  }
};
</script>
