<template>
  <v-container
    fluid
    class="px-8"
    >
    <v-card
      flat
      color="transparent"
      >
      <v-card-title
        class="pb-1"
        >
        Usuario
      </v-card-title>
    </v-card>
    <v-card
      width="800px"
      >
      <v-alert
        type="error"
        v-if="error.active"
        >
        {{ error.message }}
      </v-alert>
      <v-card-text
        >
        <v-form
          v-model="valid"
          lazy-validation
          ref="user"
          >
          <v-row>
            <v-col
              class="py-0"
              cols="12"
              md="6"
              >
              <v-text-field
                label="E-mail"
                v-model="user.email"
                filled
                :rules="emailRules"
                ></v-text-field>
            </v-col>

            <v-col
              class="py-0"
              cols="12"
              md="6"
              >
              <v-text-field
                label="Contraseña"
                v-model="user.password"
                type="password"
                filled
                ></v-text-field>
            </v-col>

            <v-col
              class="py-0 text-right d-flex flex-row align-start"
              cols="12"
              md="6"
              offset-md="6"
              >
              <v-text-field
                class="pr-3"
                label="Contraseña actual"
                v-model="password"
                type="password"
                filled
                hint="Introduzca su contraseña actual para confirmar"
                persistent-hint
                :rules="requiredRules"
                ></v-text-field>

              <v-btn
                tile
                color="primary"
                @click="editUser"
                class="mt-3 ml-auto"
                >
                Editar
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>

    <template
      v-if="currentUser.displayRoles.includes('gendev') || currentUser.displayRoles.includes('admin')"
      >
      <v-card
        flat
        color="transparent"
        class="mt-3"
        >
        <v-card-title
          class="pb-1"
          >
          Inmobiliaria
        </v-card-title>
      </v-card>

      <v-card
        width="800"
        >
        <v-card-text>
          <v-form
            v-model="valid"
            lazy-validation
            ref="agency"
            >
            <v-row>
              <v-col
                cols="12"
                md="6"
                >
                <v-card
                  height="200"
                  :color="agency.logoUrl ? '' : 'background'"
                  class="d-flex align-center justify-center"
                  >
                  <v-img
                    :src="imageUrl(agency.logoUrl)"
                    v-if="agency.logoUrl"
                    height="200"
                    class="rounded-lg"
                    contain
                    >
                  </v-img>

                  <div
                    v-else
                    >
                    Sin logo
                  </div>
                </v-card>
              </v-col>

              <v-col
                cols="12"
                md="6"
                >
                <v-file-input
                  filled
                  label="Logo"
                  v-model="agency.logo"
                  prepend-inner-icon="mdi-paperclip"
                  prepend-icon=""
                  >
                </v-file-input>
              </v-col>

              <v-col
                class="py-0"
                cols="12"
                md="6"
                >
                <v-text-field
                  label="Nombre"
                  v-model="agency.name"
                  filled
                  :rules="requiredRules"
                  ></v-text-field>
              </v-col>

              <v-col
                class="py-0"
                cols="12"
                md="6"
                >
                <v-text-field
                  label="E-mail"
                  v-model="agency.email"
                  filled
                  ></v-text-field>
              </v-col>

              <v-col
                class="py-0"
                cols="12"
                md="6"
                >
                <v-text-field
                  label="Teléfono"
                  v-model="agency.phone"
                  filled
                  ></v-text-field>
              </v-col>

              <v-col
                class="py-0"
                cols="12"
                md="6"
                >
                <v-text-field
                  label="Sitio web"
                  v-model="agency.website"
                  filled
                  ></v-text-field>
              </v-col>

              <v-col
                class="py-0"
                cols="12"
                md="12"
                >
                <v-text-field
                  label="Dirección"
                  v-model="agency.address"
                  filled
                  ></v-text-field>
              </v-col>

              <v-col
                class="py-0 text-right"
                cols="12"
                >
                <v-btn
                  tile
                  @click="editAgency"
                  color="primary"
                  >
                  Editar
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </template>
  </v-container>
</template>

<script>
import { EditUser } from '@/graphql/mutations/user'
import { EditAgency } from '@/graphql/mutations/agency'
import { Email, Password, Required } from '@/utils/rules'

export default {
  data () {
    return {
      valid: true,
      password: null,
      error: {
        active: false,
        message: ""
      },
      agency: {
        logo: null,
      },
      user: {
        password: null
      },
      emailRules: [ ...Email ],
      requiredRules: [ ...Required ],
      passwordRules: [ ...Password ]
    }
  },

  props: {
    currentUser: {
      required: true,
      type: Object
    }
  },

  mounted () {
    this.user = { ...this.currentUser }
    this.agency = { ...this.currentUser.selectedAgency }
  },

  methods: {
    imageUrl (url) {
      return process.env.VUE_APP_RAILS_URL + url
    },

    editUser () {
      if (this.valid) this.valid = this.$refs.user.validate() 

      if (this.valid) {
        let attributes = { ...this.user }
        delete attributes.id
        delete attributes.__typename
        delete attributes.selectedAgency
        delete attributes.userAgencies

        this.$apollo.mutate({
          mutation: EditUser,
          variables: {
            input: {
              id: this.agency.id,
              password: this.password,
              attributes: attributes,
            }
          }
        }).then( res => {
          this.$router.go()
        }).catch( err => {
          var error = err.graphQLErrors[0]
          if (error) {
            this.error.message = this.$t('error.' + error.extensions.field + '.' + error.extensions.message)
            this.error.active = true
          }
        })
      }
    },

    editAgency () {
      this.valid = this.$refs.agency.validate() 

      if (this.valid) {
        let attributes = { ...this.agency }
        delete attributes.id
        delete attributes.__typename
        delete attributes.logoUrl
        this.$apollo.mutate({
          mutation: EditAgency,
          variables: {
            input: {
              id: this.agency.id,
              attributes: attributes
            }
          }
        }).then( res => {
          this.$router.go()
        })
      }
    },
  }
}
</script>
