<template>
  <v-container
    fluid
    class="px-8"
    >
    <v-card
      flat
      width="800px"
      color="transparent"
      >
      <v-card-title
        class="pb-1"
        >
        Enlaces
        
        <v-spacer></v-spacer>

        <create
          @reload="fetchSocials"
          ></create>
      </v-card-title>
    </v-card>

    <v-card
      width="800px"
      >
      <v-card-text
        >
        <div
          class="d-flex flex-column"
          >
          <div
            v-for="social in socials"
            class="d-flex flex-row align-center py-2"
            style="gap: 12px; border-bottom: 1px solid #dedede"
            >
            <v-hover>
              <template v-slot:default="{ hover, props }">
                <v-avatar
                  :color="hover ? 'error' : 'primary'"
                  style="cursor: pointer"
                  class="white--text font-weight-bold"
                  >
                  <delete
                    :hover="hover"
                    @reload="fetchSocials"
                    :id="social.id"
                    ></delete>

                  <template
                    v-if="!hover"
                    >
                    <v-img
                      :src="imageUrl(social.imageUrl)"
                      v-if="social.imageUrl"
                      alt="logo"
                      ></v-img>

                    <span
                      v-else
                      >
                      {{ social.name.charAt(0) }}
                    </span>
                  </template>
                </v-avatar>
              </template>
            </v-hover>

            <div>
              <div
                class="text-body-1 font-weight-medium black--text"
                >
                {{ social.name }}
              </div>

              <div
                class=""
                >
                {{ social.description }}
              </div>
            </div>

            <div
              class="ml-auto"
              style="width: fit-content"
              >
              <v-btn
                depressed
                color="primary"
                class="rounded-lg"
                :href="social.link"
                >
                {{ social.buttonTag || 'ABRIR' }}
              </v-btn>
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { DeleteSocial } from '@/graphql/mutations/social'
import { Socials } from '@/graphql/queries/social'

import Create from '@/components/settings/socials/Create'
import Delete from '@/components/settings/socials/Delete'

export default {
  data: () => ({
    socials: [],
    valid: true
  }),

  created () {
    this.fetchSocials()
  },

  methods: {
    imageUrl (url) {
      return process.env.VUE_APP_RAILS_URL + url
    },

    fetchSocials () {
      this.$apollo.query({
        query: Socials,
        fetchPolicy: 'no-cache'
      }).then ( res => {
        this.socials = res.data.socials
      })
    }
  },

  components: {
    Create,
    Delete
  }
}
</script>
