<template>
 <v-main class="estates-list-container d-flex text-center justify-center background" width="100%" >
   <div class="d-flex align-content justify-center"> 
    <h1>
     <v-img src="@/assets/404.png"></v-img>
     Uups está vació, intenta yendo al <router-link to="/" link>{{ $t('home') }}</router-link> 
    </h1>
   </div>
  </v-main>
</template>
