<template>
  <div>
    <v-snackbar
      v-model="copied"
      color="success"
      >
      Dato copiado al portapapeles.
    </v-snackbar>
    <v-expand-transition>
      <v-card
        @click.stop=""
        v-if="show"
        flat
        tile
        style="position: absolute; left: 0; top: 0"
        class="fill-height fill-width white"
        >
        <v-card-title
          class="justify-center"
          >
          Datos de contacto
        </v-card-title>
        <v-card-text
          class="text-subtitle-1"
          >
          <div>
            <v-text-field
              outlined
              color="primary"
              label="Nombre"
              hide-details
              readonly
              dense
              :value="agency.name"
              append-icon="mdi-content-copy"
              @click:append.stop="copyText(agency.name)"
              ></v-text-field>
          </div>

          <div
            class="mt-3"
            >
            <v-text-field
              outlined
              color="primary"
              label="Email de contacto"
              hide-details
              readonly
              dense
              :value="agency.email"
              append-icon="mdi-content-copy"
              @click:append.stop="copyText(agency.email)"
              ></v-text-field>
          </div>

          <div
            class="mt-3"
            >
            <v-text-field
              outlined
              color="primary"
              label="Teléfono de contacto"
              hide-details
              readonly
              dense
              prefix="+56 9 "
              :value="agency.phone"
              append-icon="mdi-content-copy"
              @click:append.stop="copyText('+569' + agency.phone)"
              ></v-text-field>
          </div>

          <div
            class="mt-2"
            >
            <v-text-field
              outlined
              color="primary"
              label="Dirección de contacto"
              hide-details
              readonly
              dense
              :value="agency.address"
              append-icon="mdi-content-copy"
              @click:append.stop="copyText(agency.address)"
              ></v-text-field>
          </div>

          <div
            class="mt-2"
            >
            <v-text-field
              outlined
              color="primary"
              label="Sitio web"
              hide-details
              readonly
              dense
              :value="agency.website"
              append-icon="mdi-content-copy"
              @click:append.stop="copyText(agency.website)"
              ></v-text-field>
          </div>
        </v-card-text>
      </v-card>
    </v-expand-transition>

    <v-btn
      block
      outlined
      color="secondary"
      @click.stop="show = !show"
      >
      {{ show ? 'Ocultar' : 'Contactar' }}
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    copied: false,
    show: false
  }),

  props: {
    agency: {
      required: true,
      type: Object
    }
  },

  methods: {
    copyText (text) {
      navigator.clipboard.writeText(text)
      this.copied = true
    }
  }
}
</script>
