<template>
  <div>
    <div class="d-flex flex-row align-center fill-width px-5 py-3 white">
      <div class="grow">
        <h2>
          Alertas
        </h2>
      </div>
    </div>

    <v-container class="d-flex flex-row mx-auto fill-width" style="gap: 12px">
      <div style="width: 50%">
        <v-alert type="info" outlined>
          Contratos que requieren una actualización de precio de alquiler
        </v-alert>

        <v-simple-table class="rounded-lg elevation-3">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Número de contrato
                </th>
                <th class="text-left">
                  Dirección
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="cursor: pointer"
                @click="
                  $router.push({
                    name: 'Contract',
                    params: { id: price.contract.id }
                  })
                "
                v-for="price in prices"
                v-if="price.contract"
                :key="price.id"
              >
                <td>{{ price.contract.id }}</td>
                <td>{{ price.contract.fullAddress }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>

      <div style="width: 50%">
        <v-alert type="info" outlined>
          Contratos a punto de vencer
        </v-alert>

        <v-simple-table class="rounded-lg elevation-3">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Número de contrato
                </th>
                <th class="text-left">
                  Dirección
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="cursor: pointer"
                @click="
                  $router.push({
                    name: 'Contract',
                    params: { id: contract.id }
                  })
                "
                v-for="contract in contracts"
                :key="contract.id"
              >
                <td>{{ contract.id }}</td>
                <td>{{ contract.fullAddress }}</td>
                <td>
                  <v-tooltip color="primary" bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        v-on="on"
                        v-bind="attrs"
                        color="primary"
                        size="18"
                        v-if="contract.rescission"
                      >
                        mdi-file-sign
                      </v-icon>
                    </template>
                    <span>Contrato a rescindir</span>
                  </v-tooltip>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-container>
  </div>
</template>

<script>
import { OutdatedPrices, FinishingContracts } from "@/graphql/queries/contract";

export default {
  data: () => ({
    prices: [],
    contracts: []
  }),

  created() {
    this.fetchPrices();
    this.fetchContracts();
  },

  methods: {
    fetchPrices() {
      this.$apollo
        .query({
          query: OutdatedPrices
        })
        .then(res => {
          this.prices = res.data.outdatedPrices;
        });
    },

    fetchContracts() {
      this.$apollo
        .query({
          query: FinishingContracts
        })
        .then(res => {
          this.contracts = res.data.finishingContracts;
        });
    }
  }
};
</script>
