<template>
  <v-row
    class="caption text-uppercase font-weight-medium grey lighten-2 rounded-lg"
    >
    <v-col
      cols="1"
      >
      Número
    </v-col>

    <v-col
      cols="2"
      >
      Caja
    </v-col>

    <v-col
      cols="3"
      >
      Sub-cuenta
    </v-col>

    <v-col
      cols="3"
      >
      Ingreso/Egreso de
    </v-col>

    <v-col
      cols="2"
      >
      Dirección/Concepto
    </v-col>

    <v-col
      cols="1"
      class="text-right"
      >
      Monto
    </v-col>
  </v-row>
</template>
