<template>
  <div>
    <!--Header-->
    <div class="white px-8 py-5 d-flex flex-row justify-space-between align-center">
      <div
        class="d-flex"
        >
        <GoBack 
          class="shrink pr-3"
          />
        <h2 class="my-2">{{ $t('contact.list.title') }}</h2>
      </div>
      <CreateModal 
        ref="modal"
        text="Nuevo contacto">
        <New 
          @created="reload"
          @close="$refs.modal.dialog = false" />
      </CreateModal>
    </div>
    <!--Finish Estates Header-->
    <v-col class="background d-flex flex-wrap px-8" height="100vh">
      <!--Uncomment this to add Search input. You should add "search" data property-->
      <div class="tabs py-5">
        <v-card
          class="d-flex flex-row"
          flat>
          <v-text-field
            flat
            filled
            class="rounded-r-0"
            color="primary"
            v-model="search"
            :label="$t('contact.list.filters.search')"
            prepend-inner-icon="mdi-magnify"
            hide-details
            ></v-text-field>
          <v-divider
            vertical></v-divider>
          <v-select
            flat
            filled
            :items="roles"
            multiple
            v-model="filters.roles"
            class="rounded-l-0"
            :label="$t('contact.list.filters.role')"
            hide-details
            ></v-select>
        </v-card>
      </div>

      <div class="col-12 pa-0" style="height:100vh;">
        <!--Here you add the main components. Remember to add v-if directive for the tabs component-->
        <List 
          ref="list"
          />
      </div>
    </v-col>
  </div>
</template>

<script>
import GoBack from '@/components/GoBack'
import List from '@/components/directories/List'
import New from '@/components/directories/New'
import CreateModal from '@/components/modals/Default'

export default {
  data(){
    return{
      search: "", 
      filters: {
        roles: null
      },
      roles: [
        {
          text: this.$t('roles.owner'),
          value: 'owner'
        },
        {
          text: this.$t('roles.tenant'),
          value: 'tenant'
        },
        {
          text: this.$t('roles.guarantor'),
          value: 'guarantor'
        },
        {
          text: this.$t('roles.seller'),
          value: 'seller'
        },
        {
          text: this.$t('roles.buyer'),
          value: 'buyer'
        },
        {
          text: this.$t('roles.contact'),
          value: 'contact'
        },
        {
          text: this.$t('roles.gendev'),
          value: 'gendev'
        }
      ]
    }
  },

  watch: {
    search: {
      handler () {
        this.$refs.list.fetchContacts('cache-first', this.search, this.filters)
      }
    },

    'filters.roles': {
      handler () {
        this.$refs.list.fetchContacts('cache-first', this.search, this.filters)
      },
    
      deep: true
    }
  },

  components:{
    List,
    New,
    GoBack,
    CreateModal
  },

  methods: {
    reload (user) {
      this.$router.push({ name: 'admin_user_search', params: { id: user.id } })
    }
  }
}
</script>
