<template>
  <v-main
    v-if="currentUser"
    >
    <div class="px-5 d-flex flex-row align-center fill-width pa-3 white">
      <GoBack 
        class="shrink pr-3"
        />
      <div 
        class="grow"
        >
        <h2>
          Preferencias
        </h2>
      </div>
    </div>

    <Edit
      :currentUser="currentUser"
      />

    <socials
      :currentUser="currentUser"
      ></socials>
  </v-main>
</template>

<script>
import { mapGetters } from 'vuex'
import Edit from '@/components/settings/Edit'
import Socials from '@/components/settings/Socials'
import GoBack from '@/components/GoBack'

export default {
  computed: {
    ...mapGetters(['currentUser'])
  },

  components: {
    Edit,
    GoBack,
    Socials
  }
}
</script>
