<template>
  <v-main class="fill-height">
    <v-container
      class="justify-center d-flex fill-height justify-center align-center"
    >
      <div class="text-center">
        <v-card class="mb-3" width="600">
          <v-card-title class="primary white--text">{{
            $t("action.signin")
          }}</v-card-title>
          <v-alert
            class="rounded-0"
            v-model="creationAlert.show"
            :type="creationAlert.type"
            dismissible
          >
            {{ creationAlert.msg }}
          </v-alert>
          <v-card-text class="py-0" v-if="!signup">
            <v-form ref="form" lazy-validation v-model="valid">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="user.email"
                    :rules="emailRules"
                    :label="$t('field.email')"
                    type="email"
                    prepend-inner-icon="mdi-email"
                    filled
                    dense
                    required
                  ></v-text-field>
                </v-col>

                <v-col class="pt-0" cols="12">
                  <v-text-field
                    class="pt-0"
                    v-model="user.password"
                    :rules="passwordRules"
                    type="password"
                    :label="$t('field.password')"
                    prepend-inner-icon="mdi-lock"
                    validate-on-blur
                    filled
                    dense
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <SignUp v-else @created="userCreated" />
          <v-card-actions class="justify-end">
            <v-btn
              :disabled="!valid"
              color="primary"
              class="mr-4"
              @click="signInUser"
            >
              {{ $t("action.signin") }}
            </v-btn>
          </v-card-actions>
        </v-card>
        <!--
        <a href="javascript:void(0)" @click="signup = !signup">{{ signup ? $t('action.signin') : $t('action.signup') }}</a>
        -->
      </div>
    </v-container>
  </v-main>
</template>

<script>
import { SigninUser } from "../graphql/mutations/user";
import { Email, Password } from "../utils/rules";
import { TokenService } from "../services/storageService";

export default {
  name: "sign-in",

  data() {
    return {
      creationAlert: { show: false },
      valid: false,
      signup: false,
      user: {
        email: "",
        password: ""
      },
      emailRules: Email,
      passwordRules: Password
    };
  },
  methods: {
    userCreated() {
      this.signup = false;
      this.creationAlert = {
        type: "success",
        msg: this.$t("success.user_creation"),
        show: true
      };
    },

    async signInUser() {
      if (!this.valid) {
        return;
      }
      this.$apollo
        .mutate({
          mutation: SigninUser,
          variables: {
            input: {
              credentials: this.user
            }
          }
        })
        .then(res => {
          TokenService.saveToken(res.data.signIn.token);
          this.$router.push(this.$route.query.redirect || "/");
          // If => get Token? Save it and go to Home
          // Else => alert error in username or password
        })
        .catch(errors => {
          let error = errors.graphQLErrors[0].extensions;
          this.creationAlert = {
            type: "error",
            msg: this.$t(`error.${error.field}.${error.message}`),
            show: true
          };
        });
    }
  }
};
</script>
