<template>
  <div class="px-3">
    <div class="px-8 py-4 white">
      <h1 class="mt-2">
        Personal
      </h1>
    </div>

    <v-row>
      <v-col cols="12" md="2">
        <list @select="select"></list>
      </v-col>

      <v-col cols="12" md="10">
        <detail v-if="selected" :employee="selected"></detail>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import List from "@/components/staff/List";
import Detail from "@/components/staff/Detail";

export default {
  data: () => ({
    selected: null
  }),

  methods: {
    select(employee) {
      this.selected = employee;
    }
  },

  components: {
    List,
    Detail
  }
};
</script>
