<template>
 <v-main class="d-flex">
  <!--Header-->
  <div class="my-0 pa-0 d-flex flex-wrap white px-8">
    <v-col cols="8 mx-0">
     <h1 class="my-2">Section name</h1>
    </v-col>
    <v-col cols="4" class="mx-0 d-flex justify-end align-center">
     <v-btn tile class="primary">Button</v-btn>
    </v-col>
    <!--Tabs-->
    <v-col cols="12">
     <v-tabs v-model="tabs">
      <v-tab width="50%">
       1st Tab
      </v-tab>
      <v-tab width="50%">
       2d Tab
      </v-tab>
     </v-tabs>
    </v-col>

  </div>
  <!--Finish Header-->
  <v-col class="background d-flex flex-wrap px-8" height="100vh">
   <!--Uncomment this to add Search input. You should add "search" data property-->
    <!-- <div class="py-3">
      <v-text-field
        flat
        v-model="search"
        label="Search"
        prepend-inner-icon="mdi-magnify"
        hide-details
        solo-inverted
        ></v-text-field>
    </div> -->
    
    <div class="col-12 pa-0" style="height:100vh;">
      <!--Here you add the main components. Remember to add v-if directive for the tabs component-->
    </div>
  </v-col>
 </v-main>
</template>

<script>
export default {
  //Here you add your component name
  name: "",
  data(){
    return{
      //Determines what tab is active, beeing 0 the first one and 1 the second.
      tabs: "0", 
    }
  },
}
</script>
