<template>
  <v-container 
    :key="contacts.length"
    v-if="!!contacts" fluid class="pa-0">
    <div v-if="!!contacts.length">
      <v-card color="transparent" flat>
        <v-card-text
          class="py-0"
          >
          <v-row
            v-if="$vuetify.breakpoint.mdAndUp"
            class="grey--text">
            <v-col cols="3">
              <div class="font-weight-medium caption">
                {{ $t('contact.list.headers.name') }}
              </div>
            </v-col>
            <v-col cols="3">
              <div class="font-weight-medium caption">
                {{ $t('contact.list.headers.contact') }}
              </div>
            </v-col>
            <v-col cols="6">
              <div class="font-weight-medium caption">
                {{ $t('contact.list.headers.address') }}
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <template
        v-for="contact in contacts">
        <v-card
          outlined
          :to="{ name: 'admin_user_detail', params: { id: contact.id } }"
          class="my-2 rounded-xl"
          >
          <v-card-text>
            <v-row
              align="center"
              >
              <v-col 
                cols="6" 
                md="3"
                >
                {{ contact.profile.name }} 
              </v-col>
              <v-col 
                md="3" 
                cols="12" 
                class="py-1 py-md-0 d-flex justify-space-between flex-row flex-md-column"
                >
                <div>{{ contact.profile.email }}</div>
                <div>{{ contact.profile.phone}}</div>
              </v-col>
              <v-col
                v-if="$vuetify.breakpoint.smAndDown"
                cols="12"
                >
                <v-divider
                  ></v-divider>
              </v-col>
              <v-col 
                md="6" 
                cols="12"
                >
                {{ contact.profile.address }}
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </template>

      <div
        :key="pages"
        v-if="pages > 1"
        class="mt-3 mx-auto"
        style="max-width: 1200px"
        >
        <div class="text-center">
          <v-pagination
            v-model="page"
            :length="pages"
            >
          </v-pagination>
          <v-select
            class="per-page-select"
            solo
            :items="[10,20,50,100]"
            v-model="per_page"
            >
          </v-select>
        </div>
      </div>  
    </div>
    <v-skeleton-loader
      type="list-item@10"
      color="primary"
      v-else>
      <v-card color="transparent" flat>
        <v-row
          class="px-3 mr-1 grey--text">
          <v-alert
            color="blue"
            text
            type="info"
            >
            <span>{{ $t('contact.list.no_contacts_found') }}.</span>
          </v-alert>
        </v-row>
      </v-card>
    </v-skeleton-loader>
  </v-container>
</template>

<script>
import { Contacts } from '@/graphql/queries/directory'

export default {
  name: "DirectoryList",

  data(){
    return {
      contacts: null,
      page: 1,
      pages: 1,
      per_page: 10
    }
  },

  mounted () {
    this.fetchContacts('cache-first')
  },

  methods: {
    fetchContacts(policy, search = "", filters = {}) {
      var roles = filters.roles
      delete filters.roles

      this.$apollo.query({
        query: Contacts,
        variables: {
          search: search,
          roles: roles, 
          filters: filters,
          page: this.page,
          perPage: this.per_page
        },
        fetchPolicy: policy
      }).then(res => {
        this.contacts = res.data.contacts.contacts
        this.pages = res.data.contacts.pages
      }) 
    },
  },
  watch: {
    page () {
      this.fetchContacts('no-cache', this.search, this.filters)
    },
    per_page () {
      this.fetchContacts('no-cache', this.search, this.filters)
    }
  }
}
</script>

<style>
  .per-page-select {
    max-width: 80px!important;
    display:inline-block!important;
  }
</style>
