<template>
  <v-card>
    <v-card-title>
      {{ $t("contact.new.title") }}
    </v-card-title>
    <v-card-text>
      <div v-if="list" class="mb-3">
        <div class="d-flex align-center" style="gap: 12px">
          <v-autocomplete
            :items="contacts"
            item-text="profile.name"
            item-value="id"
            v-model="selected"
            label="Seleccionar contacto existente..."
            hide-details
            dense
            filled
          ></v-autocomplete>

          <v-btn
            small
            fab
            class="rounded-lg"
            depressed
            :disabled="!selected"
            color="success"
            @click="manualCreate"
          >
            <v-icon>
              mdi-check
            </v-icon>
          </v-btn>
        </div>

        <div
          class="mt-6 d-flex align-center text-uppercase caption font-weight-medium"
          style="gap: 12px"
        >
          <v-divider></v-divider>
          <div>
            O cree un contacto nuevo
          </div>
          <v-divider></v-divider>
        </div>
      </div>
      <v-form lazy-validation ref="form" v-model="valid">
        <v-row>
          <v-col cols="12">
            <v-text-field
              filled
              label="Nombre"
              hint="*Obligatorio"
              :rules="[v => !!v || $t('required_fields_hint')]"
              v-model="contact.name"
            >
            </v-text-field>
          </v-col>
          <v-col class="pt-0" cols="12">
            <vuetify-google-autocomplete
              filled
              id="map"
              :label="$t('contact.new.fields.address')"
              v-model="contact.address"
            >
            </vuetify-google-autocomplete>
          </v-col>
          <v-col class="pt-0" cols="12">
            <v-text-field
              filled
              :label="$t('contact.new.fields.email')"
              v-model="contact.email"
            >
            </v-text-field>
          </v-col>
          <v-col class="pt-0" cols="12">
            <v-text-field
              filled
              :label="$t('contact.new.fields.phone')"
              type="number"
              v-model="contact.phone"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions class="px-6 py-3">
      <v-spacer />
      <v-btn @click.stop="$emit('close')" text>
        {{ $t("action.cancel") }}
      </v-btn>
      <v-btn
        @click.stop="create"
        :loading="loading"
        :disabled="loading"
        color="primary"
      >
        {{ $t("action.create") }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { CreateContact } from "@/graphql/mutations/directory";
import { Contacts } from "@/graphql/queries/directory";

export default {
  data() {
    return {
      valid: true,
      contacts: [],
      selected: null,
      loading: false,
      contact: {
        name: "",
        address: "",
        email: "",
        phone: "",
        dni: ""
      }
    };
  },

  props: {
    data: {
      required: false,
      type: Object
    },
    list: {
      required: false,
      type: Boolean,
      default: false
    }
  },

  created() {
    if (this.data) {
      this.contact.name = this.data.name;
      this.contact.email = this.data.email;
      this.contact.phone = this.data.phone;
    }

    if (this.list) {
      this.fetchOwners();
    }
  },

  methods: {
    create() {
      if (this.valid) this.valid = this.$refs.form.validate();
      this.loading = true;

      if (this.valid) {
        this.$apollo
          .mutate({
            mutation: CreateContact,
            variables: {
              input: {
                contactAttributes: this.contact
              }
            }
          })
          .then(res => {
            this.loading = false;
            this.$emit("created", res.data.createContact.user);
            // this.$router.push({ name: 'admin_user_search', params: { id: res.data.createContact.user.id } })
          });
      }
    },

    manualCreate() {
      this.$emit("created", { id: this.selected });
    },

    fetchOwners(firstLoad = false) {
      this.$apollo
        .query({
          query: Contacts,
          variables: {
            noPaginate: true
          },
          fetchPolicy: "no-cache"
        })
        .then(res => {
          this.contacts = res.data.contacts.contacts;
        });
    }
  }
};
</script>
