<template>
  <v-card outlined tile>
    <v-card-text>
      <div class="px-3 mb-3">
        <div class="d-flex flex-row align-center justify-space-between">
          <div>{{ properties.length }} propiedades(s) asignados</div>
          <v-btn
            small
            @click="
              $router.push({
                name: 'CreateProperty',
                query: { ownerId: ownerId }
              })
            "
            color="primary"
          >
            Crear propiedad
          </v-btn>
        </div>
      </div>

      <List
        ref="list"
        @reload="fetchProperties('no-cache')"
        :properties="properties"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import { OwnerProperties } from "@/graphql/queries/property";
import List from "@/components/properties/List";

export default {
  name: "Properties",
  data() {
    return {
      properties: []
    };
  },

  components: {
    List
  },

  created() {
    this.fetchProperties("no-cache");
  },

  props: {
    ownerId: {
      type: Number | String,
      default: null
    }
  },

  methods: {
    fetchProperties() {
      this.$apollo
        .query({
          query: OwnerProperties,
          variables: {
            ownerId: this.ownerId
          },
          fetchPolicy: "no-cache"
        })
        .then(res => {
          this.properties = res.data.ownerProperties.properties;
        });
    }
  }
};
</script>
