<template>
  <v-card outlined tile>
    <v-card-text>
      <div class="px-3 mb-3">
        <div class="d-flex flex-row align-center justify-space-between">
          <div>{{ taxes.length }} impuesto(s) asignados</div>
          <v-btn
            small
            @click="
              $router.push({
                name: 'CreateUserTax',
                id: $route.params.id,
                query: { objectType: 'User' }
              })
            "
            color="primary"
          >
            {{ $t("action.add_tax") }}
          </v-btn>
        </div>
      </div>

      <div class="d-flex flex-column" style="gap: 12px" v-if="taxes.length">
        <template v-for="tax in taxes">
          <tax :tax="tax" @reload="fetchTaxes"></tax>
        </template>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { UserTaxes } from "@/graphql/queries/directory";

import Tax from "@/components/taxes/Tax";

export default {
  data: () => ({
    taxes: []
  }),

  created() {
    this.fetchTaxes();
  },

  methods: {
    fetchTaxes() {
      this.$apollo
        .query({
          query: UserTaxes,
          variables: {
            id: this.$route.params.id
          },
          fetchPolicy: "no-cache"
        })
        .then(res => {
          console.log(res);
          this.taxes = res.data.userTaxes;
        });
    }
  },

  components: { Tax }
};
</script>
