<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        small
        class="rounded-lg"
        color="primary"
        block
        depressed
        v-on="on"
        v-bind="attrs"
      >
        + Nuevo miembro
      </v-btn>
    </template>

    <v-card>
      <v-card-title> </v-card-title>
      <v-card-text>
        <div class="text-center mb-6">
          <div>
            <v-icon x-large color="primary">
              mdi-account
            </v-icon>
          </div>

          <div class="text--primary body-1 mt-3">
            Por favor, ingrese los datos de contacto del miembro a crear.
          </div>
        </div>

        <div>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-subheader>Credenciales</v-subheader>
            <v-text-field
              label="E-mail"
              v-model="userAttributes.email"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-text-field
              label="Contraseña"
              v-model="userAttributes.password"
              :rules="required"
              type="password"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-select
              label="Permisos"
              v-model="role"
              :items="userRoles"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-select>

            <v-subheader>Datos de contacto</v-subheader>
            <v-text-field
              label="Nombre"
              v-model="attributes.name"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-text-field
              label="Número de teléfono"
              v-model="attributes.number"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-text-field>

            <v-select
              label="Tipo de operación"
              v-model="attributes.operationType"
              :items="operationTypes"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-select>

            <v-select
              label="Cargo"
              v-if="
                attributes.operationType && attributes.operationType == 'rent'
              "
              v-model="attributes.rol"
              :items="roles"
              :rules="required"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-select>

            <v-select
              label="Tipo de propiedad"
              v-model="attributes.propertyTypes"
              multiple
              :items="propertyTypes"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-select>

            <v-select
              label="Sucursal"
              v-model="attributes.city"
              :items="cities"
              outlined
              solo
              flat
              class="rounded-lg"
              dense
            ></v-select>

            <v-btn
              depressed
              color="primary"
              class="rounded-lg"
              @click="createStaff"
              block
            >
              Crear
            </v-btn>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { CreateStaff } from "@/graphql/mutations/staff";

export default {
  data() {
    return {
      dialog: false,
      valid: true,
      roles: ["Visitas", "Administración"],
      cities: ["Reconquista", "Avellaneda"],
      operationTypes: [
        {
          text: "Ventas",
          value: "sell"
        },
        {
          text: "Alquileres",
          value: "rent"
        }
      ],
      propertyTypes: [
        {
          text: this.$t(
            "property.create.type.fields.property_types.country_house"
          ),
          value: "country_house"
        },
        {
          text: this.$t("property.create.type.fields.property_types.apartment"),
          value: "apartment"
        },
        {
          text: this.$t("property.create.type.fields.property_types.salon"),
          value: "salon"
        },
        {
          text: this.$t("property.create.type.fields.property_types.warehouse"),
          value: "warehouse"
        },
        {
          text: this.$t("property.create.type.fields.property_types.parking"),
          value: "parking"
        },
        {
          text: this.$t("property.create.type.fields.property_types.shed"),
          value: "shed"
        },
        {
          text: this.$t("property.create.type.fields.property_types.house"),
          value: "house"
        },
        {
          text: this.$t("property.create.type.fields.property_types.farm"),
          value: "farm"
        },
        {
          text: this.$t("property.create.type.fields.property_types.terrain"),
          value: "terrain"
        }
      ],
      required: [v => !!v || "Campo obligatorio"],
      role: null,
      userRoles: [
        {
          text: "Gerente",
          value: "admin"
        },
        {
          text: "Ventas",
          value: "sales"
        },
        {
          text: "Administración",
          value: "gendev"
        },
        {
          text: "Propiedades",
          value: "properties"
        }
      ],
      userAttributes: {
        email: null,
        password: null
      },
      attributes: {
        name: null,
        rol: null,
        operationType: null,
        propertyTypes: [],
        number: null,
        city: null
      }
    };
  },

  methods: {
    createStaff() {
      if (this.$refs.form.validate()) {
        this.$apollo
          .mutate({
            mutation: CreateStaff,
            variables: {
              input: {
                attributes: this.attributes,
                userAttributes: this.userAttributes,
                role: this.role
              }
            }
          })
          .then(res => {
            this.$emit("reload");
            this.$refs.form.reset();
            this.dialog = false;
          });
      }
    }
  }
};
</script>
