<template>
  <div>
    <div v-if="id" class="mb-6 d-flex flex-row" style="gap: 24px">
      <inquiries
        :id="id"
        :status="['pending', 'watching', 'ongoing', 'on_hold']"
      />

      <inquiries :id="id" :status="['success']" />

      <clients :id="id" />
    </div>

    <div v-if="id" class="d-flex flex-row" style="gap: 24px">
      <properties :id="id" />

      <searches :id="id" />
    </div>
  </div>
</template>

<script>
import Properties from "./analytics/Properties";
import Inquiries from "./analytics/Inquiries";
import Searches from "./analytics/Searches";
import Clients from "./analytics/Clients";

export default {
  data: () => ({
    analytics: null
  }),

  props: {
    id: {
      type: String | Number,
      required: true
    }
  },

  components: { Properties, Inquiries, Searches, Clients }
};
</script>
