<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        depressed
        class="rounded-lg"
        color="error"
        dark
        v-bind="attrs"
        v-on="on"
      >
        Eliminar
      </v-btn>
    </template>

    <v-card>
      <v-card-title>
        <v-spacer></v-spacer>
        <v-btn icon small depressed @click="dialog = false">
          <v-icon>
            mdi-close
          </v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        ¿Está seguro de que desea eliminar el miembro seleccionado? Esta acción
        <span class="error--text font-weight-medium">no se puede deshacer</span
        >.
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn depressed color="error" @click="save">
          Eliminar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { DeleteStaff } from "@/graphql/mutations/staff";

export default {
  data: () => ({
    dialog: false
  }),

  props: {
    id: {
      type: String | Number,
      required: true
    }
  },

  methods: {
    save() {
      this.$apollo
        .mutate({
          mutation: DeleteStaff,
          variables: {
            input: {
              id: this.id
            }
          }
        })
        .then(res => {
          this.$router.go();
        });
    }
  }
};
</script>
