<template>
  <div>
    <v-snackbar color="success darken-1" v-model="alert">
      <v-icon>
        mdi-check-circle
      </v-icon>
      Datos actualizados con éxito
    </v-snackbar>
    <v-card
      style="overflow-y: auto"
      height="calc(100vh - 136px)"
      elevation="6"
      class="rounded-lg"
    >
      <v-card-title> </v-card-title>
      <v-card-text style="padding: 12px 64px">
        <div class="text-center mb-3">
          <div>
            <v-icon x-large color="primary">
              mdi-view-dashboard
            </v-icon>
          </div>

          <div class="text--primary body-1 mt-3">
            Gestiones de
            <span class="font-weight-bold">{{ attributes.name }}</span
            >.
          </div>
        </div>

        <staff-dashboard :id="employee.id" />

        <div class="text-center mt-6 mb-3">
          <div>
            <v-icon x-large color="primary">
              mdi-form-textbox-password
            </v-icon>
          </div>

          <div class="text--primary body-1 mt-3">
            Credenciales de
            <span class="font-weight-bold">{{ attributes.name }}</span
            >.
          </div>
        </div>

        <v-form v-model="validUser" ref="userForm" lazy-validation>
          <v-row class="grey lighten-4 py-3 rounded-lg">
            <v-col class="py-0" md="6">
              <v-text-field
                label="E-mail"
                v-model="userAttributes.email"
                :rules="required"
                outlined
                solo
                flat
                class="rounded-lg"
                dense
              ></v-text-field>
            </v-col>

            <v-col class="py-0" md="6">
              <v-text-field
                label="Contraseña"
                v-model="userAttributes.password"
                hint="Opcional. Rellenar el campo sobreescribe la contraseña actual."
                persistent-hint
                type="password"
                outlined
                solo
                flat
                class="rounded-lg"
                dense
              ></v-text-field>
            </v-col>

            <v-col class="py-0" md="6">
              <v-select
                label="Permisos"
                v-model="role"
                :items="userRoles"
                :rules="required"
                outlined
                solo
                flat
                class="rounded-lg"
                dense
              ></v-select>
            </v-col>

            <v-col md="12">
              <div class="text-right">
                <v-btn
                  depressed
                  color="primary"
                  class="rounded-lg"
                  @click="editUser"
                >
                  Guardar
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-form>

        <div class="text-center my-3">
          <div
            style="position: relative"
            >
            <v-avatar
              v-if="employee.avatarUrl"
              color="primary"
              size="70"
              >
              <v-img
                :src="url + employee.avatarUrl"
                ></v-img>
            </v-avatar>

            <v-avatar
              v-else
              color="primary"
              size="70"
              >
              <v-icon
                color="white"
                size="40"
                >
                mdi-account
              </v-icon>
            </v-avatar>

            <v-btn
              fab
              x-small
              style="position: absolute; bottom: -16px; z-index: 2; right: calc(50% - 17px)"
              @click="openChangePicture"
              >
              <v-icon
                color="primary"
                >
                mdi-camera
              </v-icon>
            </v-btn>

            <input
              class="d-none"
              ref="picture"
              type="file"
              accept="image/*"
              @change="uploadPicture"
              ></input>
          </div>

          <div class="text--primary body-1 mt-6">
            Datos de contacto de
            <span class="font-weight-bold">{{ attributes.name }}</span
            >.
          </div>
        </div>

        <div>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-row class="grey lighten-4 py-3 rounded-lg">
              <v-col class="py-0" md="6">
                <v-text-field
                  label="Nombre"
                  v-model="attributes.name"
                  :rules="required"
                  outlined
                  solo
                  flat
                  class="rounded-lg"
                  dense
                ></v-text-field>
              </v-col>

              <v-col class="py-0" md="6">
                <v-text-field
                  label="Número de teléfono"
                  v-model="attributes.number"
                  :rules="required"
                  outlined
                  solo
                  flat
                  class="rounded-lg"
                  dense
                ></v-text-field>
              </v-col>

              <v-col class="py-0" md="6">
                <v-select
                  label="Tipo de operación"
                  v-model="attributes.operationType"
                  :items="operationTypes"
                  :rules="required"
                  outlined
                  solo
                  flat
                  class="rounded-lg"
                  dense
                ></v-select>
              </v-col>

              <v-col class="py-0" md="6">
                <v-select
                  label="Cargo"
                  v-if="
                    attributes.operationType &&
                      attributes.operationType == 'rent'
                  "
                  v-model="attributes.rol"
                  :items="roles"
                  :rules="required"
                  outlined
                  solo
                  flat
                  class="rounded-lg"
                  dense
                ></v-select>
              </v-col>

              <v-col class="py-0" md="6">
                <v-select
                  label="Tipo de propiedad"
                  v-model="attributes.propertyTypes"
                  multiple
                  :items="propertyTypes"
                  clearable
                  outlined
                  solo
                  flat
                  class="rounded-lg"
                  dense
                ></v-select>
              </v-col>

              <v-col class="py-0" md="6">
                <v-select
                  label="Sucursal"
                  v-model="attributes.city"
                  clearable
                  :items="cities"
                  outlined
                  solo
                  flat
                  class="rounded-lg"
                  dense
                ></v-select>
              </v-col>

              <v-col md="12">
                <div class="text-right">
                  <delete-staff :id="employee.id" @deleted="$emit('deleted')"></delete-staff>

                  <v-btn
                    depressed
                    color="primary"
                    class="rounded-lg ml-2"
                    @click="editStaff"
                  >
                    Guardar
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { EditStaff } from "@/graphql/mutations/staff";
import { EditUserByAdmin } from "@/graphql/mutations/user";
import StaffDashboard from "./Dashboard";
import DeleteStaff from "./Delete";

export default {
  data() {
    return {
      valid: true,
      validUser: true,
      alert: false,
      roles: ["Visitas", "Administración"],
      cities: ["Reconquista", "Avellaneda"],
      operationTypes: [
        {
          text: "Ventas",
          value: "sell"
        },
        {
          text: "Alquileres",
          value: "rent"
        }
      ],
      propertyTypes: [
        {
          text: this.$t(
            "property.create.type.fields.property_types.country_house"
          ),
          value: "country_house"
        },
        {
          text: this.$t("property.create.type.fields.property_types.apartment"),
          value: "apartment"
        },
        {
          text: this.$t("property.create.type.fields.property_types.salon"),
          value: "salon"
        },
        {
          text: this.$t("property.create.type.fields.property_types.warehouse"),
          value: "warehouse"
        },
        {
          text: this.$t("property.create.type.fields.property_types.parking"),
          value: "parking"
        },
        {
          text: this.$t("property.create.type.fields.property_types.shed"),
          value: "shed"
        },
        {
          text: this.$t("property.create.type.fields.property_types.house"),
          value: "house"
        },
        {
          text: this.$t("property.create.type.fields.property_types.farm"),
          value: "farm"
        },
        {
          text: this.$t("property.create.type.fields.property_types.terrain"),
          value: "terrain"
        }
      ],
      required: [v => !!v || "Campo obligatorio"],
      role: null,
      userRoles: [
        {
          text: "Gerente",
          value: "admin"
        },
        {
          text: "Ventas",
          value: "sales"
        },
        {
          text: "Administración",
          value: "gendev"
        },
        {
          text: "Propiedades",
          value: "properties"
        }
      ],
      userAttributes: {
        email: null,
        password: null
      },
      avatar: null,
      attributes: {
        name: null,
        rol: null,
        operationType: null,
        propertyTypes: [],
        number: null,
        city: null,
      }
    };
  },

  props: {
    employee: {
      required: true,
      type: Object
    }
  },

  created() {
    Object.keys(this.attributes).forEach(k => {
      this.attributes[k] = this.employee[k];
    });

    Object.keys(this.userAttributes).forEach(k => {
      this.userAttributes[k] = this.employee.user[k];
    });

    this.role = this.employee.user.displayRoles[0];
  },

  methods: {
    editStaff() {
      if (this.$refs.form.validate()) {
        this.$apollo
          .mutate({
            mutation: EditStaff,
            variables: {
              input: {
                attributes: this.attributes,
                id: this.employee.id
              }
            }
          })
          .then(res => {
            this.alert = true;
          });
      }
    },

    editUser() {
      if (this.$refs.userForm.validate()) {
        this.$apollo
          .mutate({
            mutation: EditUserByAdmin,
            variables: {
              input: {
                attributes: this.userAttributes,
                role: this.role,
                id: this.employee.user.id
              }
            }
          })
          .then(res => {
            this.alert = true;
          });
      }
    },

    openChangePicture () {
      this.$refs.picture.click()
    },

    uploadPicture (e) {
      var file = e.target.files[0]

      this.$apollo.mutate({
        mutation: EditStaff,
        variables: {
          input: {
            id: this.employee.id,
            attributes: {
              avatar: file
            }
          }
        }
      }).then( res => {
        this.$router.go('')
      })
    },
  },

  computed: {
    ...mapGetters(['url'])
  },

  watch: {
    employee() {
      Object.keys(this.attributes).forEach(k => {
        this.attributes[k] = this.employee[k];
      });

      Object.keys(this.userAttributes).forEach(k => {
        this.userAttributes[k] = this.employee.user[k];
      });

      this.role = this.employee.user.displayRoles[0];
    }
  },

  components: { StaffDashboard, DeleteStaff }
};
</script>
