<template>
  <v-card
    height="calc(100vh - 136px)"
    flat
    class="rounded-lg"
    >
    <v-card-title>
      Listado
    </v-card-title>

    <v-card-text
      class="px-0 text--primary"
      >
      <div
        class="px-4"
        >
        <create
          @reload="reload"
          ></create>
      </div>

      <div
        class="mt-3"
        >
        <template
          v-for="employee in staff"
          >
          <div
            class="px-4 py-2 body-1"
            @click="selected = employee"
            style="cursor: pointer"
            :class="selected == employee ? 'white--text primary' : ''"
            >
            {{ employee.name }}
          </div>
        </template>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import Create from './Create'
import { Staff } from '@/graphql/queries/staff'

export default {
  data: () => ({
    staff: [],
    selected: null
  }),

  created () {
    this.fetchStaff ()
  },

  watch: {
    selected () {
      this.$emit('select', this.selected)
    }
  },

  methods: {
    reload () {
      this.fetchStaff ()
    },

    fetchStaff () {
      this.$apollo.query({
        query: Staff,
        fetchPolicy: 'no-cache'
      }).then ( res => {
        this.staff = res.data.staff

        if (this.staff.length)
          this.selected = this.staff[0]
      })
    }
  },

  components: {
    Create
  },
}
</script>
